/* line 1, ../scss/agenda.scss */
#agenda {
  height: auto !important;
  color: #999;
}
/* line 6, ../scss/agenda.scss */
#agenda h1 {
  color: white;
}
/* line 10, ../scss/agenda.scss */
#agenda .text-hour {
  font-size: 25pt;
}
/* line 14, ../scss/agenda.scss */
#agenda .text-thin, #agenda .text-hour {
  font-family: 'RobotoThin', Arial, sans-serif;
}
/* line 23, ../scss/agenda.scss */
#agenda .row .border, #agenda .row .border-row {
  border-width: 2px;
  border-color: #f2f2f2;
  border-style: solid;
  border-left-width: 0;
  border-bottom-width: 0;
}
/* line 31, ../scss/agenda.scss */
#agenda .row .border:first-child, #agenda .row .border-row:first-child {
  border-left-width: 2px;
}
