/* line 15, ../scss/agenda.scss */
#agenda {
  height: auto !important;
}
/* line 18, ../scss/agenda.scss */
#agenda h1 {
  color: white;
}

/* line 23, ../scss/agenda.scss */
#header-agenda-copy {
  background: #444;
  position: fixed;
  top: 60px;
  width: 100%;
}
/* line 29, ../scss/agenda.scss */
#header-agenda-copy .header-agenda .border {
  -moz-box-shadow: black 0px 2px 10px;
  -webkit-box-shadow: black 0px 2px 10px;
  box-shadow: black 0px 2px 10px;
}

/* line 36, ../scss/agenda.scss */
#agenda, #header-agenda-to-copy, #header-agenda-copy {
  color: #999999;
}
/* line 41, ../scss/agenda.scss */
#agenda .text-hour, #header-agenda-to-copy .text-hour, #header-agenda-copy .text-hour {
  font-size: 25pt;
}
/* line 45, ../scss/agenda.scss */
#agenda .text-thin, #agenda .text-hour, #header-agenda-to-copy .text-thin, #header-agenda-to-copy .text-hour, #header-agenda-copy .text-thin, #header-agenda-copy .text-hour {
  font-family: 'RobotoThin', Arial, sans-serif;
}
/* line 49, ../scss/agenda.scss */
#agenda .row, #header-agenda-to-copy .row, #header-agenda-copy .row {
  margin-bottom: 10px;
}
/* line 53, ../scss/agenda.scss */
#agenda .row:after, #header-agenda-to-copy .row:after, #header-agenda-copy .row:after {
  content: '';
  position: relative;
  top: 5px;
  left: 50%;
  margin-left: -30%;
  width: 60%;
  height: 1px;
}
/* line 64, ../scss/agenda.scss */
#agenda .row:first-child:after, #agenda .row:last-child:after, #header-agenda-to-copy .row:first-child:after, #header-agenda-to-copy .row:last-child:after, #header-agenda-copy .row:first-child:after, #header-agenda-copy .row:last-child:after {
  height: 0;
}
/* line 68, ../scss/agenda.scss */
#agenda .row.header-agenda, #header-agenda-to-copy .row.header-agenda, #header-agenda-copy .row.header-agenda {
  margin-bottom: 5px;
}
/* line 72, ../scss/agenda.scss */
#agenda .header-agenda .border:not(.col-lg-offset-1), #header-agenda-to-copy .header-agenda .border:not(.col-lg-offset-1), #header-agenda-copy .header-agenda .border:not(.col-lg-offset-1) {
  margin-left: 10px;
}
/* line 76, ../scss/agenda.scss */
#agenda .row .border, #header-agenda-to-copy .row .border, #header-agenda-copy .row .border {
  background: #f2f2f2;
}
/* line 79, ../scss/agenda.scss */
#agenda .row .border .lead, #header-agenda-to-copy .row .border .lead, #header-agenda-copy .row .border .lead {
  padding-top: 10px;
  margin-bottom: 10px;
}
/* line 85, ../scss/agenda.scss */
#agenda .row .border.red-gdg, #header-agenda-to-copy .row .border.red-gdg, #header-agenda-copy .row .border.red-gdg {
  color: white;
  background: #da483c;
}
/* line 89, ../scss/agenda.scss */
#agenda .row .border.green-gdg, #header-agenda-to-copy .row .border.green-gdg, #header-agenda-copy .row .border.green-gdg {
  color: white;
  background: #0c9a54;
}
/* line 93, ../scss/agenda.scss */
#agenda .row .border.yellow-gdg, #header-agenda-to-copy .row .border.yellow-gdg, #header-agenda-copy .row .border.yellow-gdg {
  color: white;
  background: #f7c63d;
}
/* line 97, ../scss/agenda.scss */
#agenda .row .border.blue-gdg, #header-agenda-to-copy .row .border.blue-gdg, #header-agenda-copy .row .border.blue-gdg {
  color: white;
  background: #6388c5;
}
/* line 102, ../scss/agenda.scss */
#agenda .row .border-hour, #header-agenda-to-copy .row .border-hour, #header-agenda-copy .row .border-hour {
  		/*border-right: thin solid $color-border;
  		border-left-width: 0px;
  		-webkit-border-image: -webkit-gradient(linear, left top, left bottom, stop(0%, rgba(0,0,0,0)), stop(50%, $color-border) , stop(100%, rgba(0,0,0,0))) 1 100%;
          -moz-border-image:   -moz-linear-gradient(top ,rgba(0,0,0,0) 0%, $color-border 50%, rgba(0,0,0,0) 100%) 1 100%;    
          -o-border-image:   -o-linear-gradient(top ,rgba(0,0,0,0) 0%, $color-border 50%, rgba(0,0,0,0) 100%) 1 100%;
          -ms-border-image:   -ms-linear-gradient(top ,rgba(0,0,0,0) 0%, $color-border 50%, rgba(0,0,0,0) 100%) 1 100%;
          border-image:   linear-gradient(to bottom, rgba(0,0,0,0) 0%, $color-border 50%, rgba(0,0,0,0) 100%) 1 100%;*/
}
/* line 112, ../scss/agenda.scss */
#agenda .col-xs-9.col-lg-2.padded.animated-expand, #header-agenda-to-copy .col-xs-9.col-lg-2.padded.animated-expand, #header-agenda-copy .col-xs-9.col-lg-2.padded.animated-expand {
  margin-left: 10px;
}
/* line 116, ../scss/agenda.scss */
#agenda .row .animated-expand:hover, #header-agenda-to-copy .row .animated-expand:hover, #header-agenda-copy .row .animated-expand:hover {
  cursor: pointer;
  -moz-transition-property: border-top-width;
  -o-transition-property: border-top-width;
  -webkit-transition-property: border-top-width;
  transition-property: border-top-width;
  -moz-transition-duration: 100ms;
  -o-transition-duration: 100ms;
  -webkit-transition-duration: 100ms;
  transition-duration: 100ms;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  border-top-width: 15px !important;
}
/* line 124, ../scss/agenda.scss */
#agenda .row .white-gdg, #header-agenda-to-copy .row .white-gdg, #header-agenda-copy .row .white-gdg {
  border-top: 3px #f2f2f2 solid;
}
/* line 127, ../scss/agenda.scss */
#agenda .row .grey-gdg, #header-agenda-to-copy .row .grey-gdg, #header-agenda-copy .row .grey-gdg {
  margin-left: 10px;
  border-top: 3px #999999 solid;
}
/* line 131, ../scss/agenda.scss */
#agenda .row .grey-gdg:after, #header-agenda-to-copy .row .grey-gdg:after, #header-agenda-copy .row .grey-gdg:after {
  content: '';
  width: 30px;
  top: -3px;
  right: -30px;
  position: absolute;
  border-top: 3px #999999 solid;
}
/* line 140, ../scss/agenda.scss */
#agenda .row .animated-expand.green-gdg, #header-agenda-to-copy .row .animated-expand.green-gdg, #header-agenda-copy .row .animated-expand.green-gdg {
  border-top: 3px #0c9a54 solid;
}
/* line 143, ../scss/agenda.scss */
#agenda .row .animated-expand.yellow-gdg, #header-agenda-to-copy .row .animated-expand.yellow-gdg, #header-agenda-copy .row .animated-expand.yellow-gdg {
  border-top: 3px #f7c63d solid;
}
/* line 146, ../scss/agenda.scss */
#agenda .row .animated-expand.blue-gdg, #header-agenda-to-copy .row .animated-expand.blue-gdg, #header-agenda-copy .row .animated-expand.blue-gdg {
  border-top: 3px #6388c5 solid;
}
/* line 149, ../scss/agenda.scss */
#agenda .row .animated-expand.red-gdg, #header-agenda-to-copy .row .animated-expand.red-gdg, #header-agenda-copy .row .animated-expand.red-gdg {
  border-top: 3px #da483c solid;
}
/* line 153, ../scss/agenda.scss */
#agenda .row .title-conf, #header-agenda-to-copy .row .title-conf, #header-agenda-copy .row .title-conf {
  font-size: 1.2em;
  line-height: 1.2em;
  margin-bottom: 10px;
}
/* line 159, ../scss/agenda.scss */
#agenda .row .col-lg-2 .title-conf, #header-agenda-to-copy .row .col-lg-2 .title-conf, #header-agenda-copy .row .col-lg-2 .title-conf {
  font-size: 1.2em;
  line-height: 1.2em;
  max-height: 2.4em;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* line 167, ../scss/agenda.scss */
#agenda .row .col-lg-2 .title-conf.to-long:after, #header-agenda-to-copy .row .col-lg-2 .title-conf.to-long:after, #header-agenda-copy .row .col-lg-2 .title-conf.to-long:after {
  content: ' ';
  position: absolute;
  display: block;
  width: 100%;
  height: 1.2em;
  bottom: 0;
  left: 0;
}
/* line 176, ../scss/agenda.scss */
#agenda .row .col-lg-2 .title-conf.to-long:before, #header-agenda-to-copy .row .col-lg-2 .title-conf.to-long:before, #header-agenda-copy .row .col-lg-2 .title-conf.to-long:before {
  content: '...';
  text-align: left;
  position: absolute;
  display: block;
  width: 2.4em;
  height: 1.2em;
  bottom: 0px;
  left: 10px;
}
/* line 187, ../scss/agenda.scss */
#agenda .row .animated-expand.to-hide, #header-agenda-to-copy .row .animated-expand.to-hide, #header-agenda-copy .row .animated-expand.to-hide {
  display: none !important;
}
/* line 191, ../scss/agenda.scss */
#agenda .row .animated-expand.expand, #header-agenda-to-copy .row .animated-expand.expand, #header-agenda-copy .row .animated-expand.expand {
  margin-left: 10px;
  border-top-width: 15px;
}
/* line 196, ../scss/agenda.scss */
#agenda .row .animated-expand.expand:after, #header-agenda-to-copy .row .animated-expand.expand:after, #header-agenda-copy .row .animated-expand.expand:after {
  content: '';
  width: 30px;
  top: -15px;
  right: -30px;
  position: absolute;
  border-top: 15px #999999 solid;
}
/* line 205, ../scss/agenda.scss */
#agenda .row .animated-expand.green-gdg:after, #header-agenda-to-copy .row .animated-expand.green-gdg:after, #header-agenda-copy .row .animated-expand.green-gdg:after {
  border-top-color: #0c9a54;
}
/* line 208, ../scss/agenda.scss */
#agenda .row .animated-expand.yellow-gdg:after, #header-agenda-to-copy .row .animated-expand.yellow-gdg:after, #header-agenda-copy .row .animated-expand.yellow-gdg:after {
  border-top-color: #f7c63d;
}
/* line 211, ../scss/agenda.scss */
#agenda .row .animated-expand.blue-gdg:after, #header-agenda-to-copy .row .animated-expand.blue-gdg:after, #header-agenda-copy .row .animated-expand.blue-gdg:after {
  border-top-color: #6388c5;
}
/* line 214, ../scss/agenda.scss */
#agenda .row .animated-expand.red-gdg:after, #header-agenda-to-copy .row .animated-expand.red-gdg:after, #header-agenda-copy .row .animated-expand.red-gdg:after {
  border-top-color: #da483c;
}

@media only screen and (max-width: 768px) {
  /* line 224, ../scss/agenda.scss */
  #agenda .row .lead, #header-agenda-to-copy .row .lead, #header-agenda-copy .row .lead {
    font-size: 1em;
  }
}
