@media only screen and (max-width: 768px) {
  /* line 3, ../scss/devfest_phone.scss */
  #home h1 {
    font-size: 2em;
  }

  /* line 7, ../scss/devfest_phone.scss */
  #home table td {
    padding: 20px;
  }

  /* line 11, ../scss/devfest_phone.scss */
  #video-phone {
    height: auto !important;
  }
}
