/* line 5, ../scss/devfest.scss */
.padded {
  padding: 20px;
}

/* line 9, ../scss/devfest.scss */
.table {
  margin-bottom: 0px !important;
}

/* line 13, ../scss/devfest.scss */
.title-right {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

/* line 20, ../scss/devfest.scss */
.title-left {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

/* line 27, ../scss/devfest.scss */
.chevron-left {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 34, ../scss/devfest.scss */
.chevron-right {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

/* line 41, ../scss/devfest.scss */
.slide1 {
  width: 100%;
  height: 100%;
  background: transparent center no-repeat;
  background-size: cover;
  background-image: url(../assets/images/back.png);
}

/* line 49, ../scss/devfest.scss */
.slide2 {
  width: 100%;
  height: 100%;
  background: transparent center no-repeat;
  background-size: cover;
  background-image: url(../assets/images/angular.png);
}

/* line 57, ../scss/devfest.scss */
.slideGDG {
  width: 100%;
  height: 100%;
  background: #26272c center no-repeat;
  background-size: contain;
  background-image: url(../assets/images/gdg_stats.png);
}
