/* line 6, ../scss/load.scss */
#contain {
  width: 300px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
  animation: fadeIn 1s 1;
  animation-fill-mode: forwards;
}

/* line 17, ../scss/load.scss */
.wrap {
  animation: translate 1000ms infinite ease-in-out alternate, zindex 2000ms infinite ease-in-out;
  position: absolute;
}

/* line 22, ../scss/load.scss */
.part {
  width: 100px;
  height: 100px;
  background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.1) 65%, rgba(0, 0, 0, 0.1));
  background-color: #E3746B;
  border-radius: 50%;
  animation: scale 1000ms infinite ease-in-out alternate;
  animation-delay: -500ms;
  transform: scale(0.5);
}

/* line 34, ../scss/load.scss */
.part:after {
  content: '';
  width: 100px;
  height: 10px;
  background: #eee;
  position: absolute;
  top: 130px;
  border-radius: 50%;
}

/* line 44, ../scss/load.scss */
#wrap2 {
  animation-delay: -1000ms;
}

/* line 48, ../scss/load.scss */
#part2 {
  background-color: #397BF9;
  animation-delay: -1500ms;
}

/* line 53, ../scss/load.scss */
#wrap3 {
  animation-delay: -1500ms;
}

/* line 57, ../scss/load.scss */
#part3 {
  background-color: #F4B400;
  animation-delay: -2000ms;
}

/* line 62, ../scss/load.scss */
#wrap4 {
  animation-delay: -2500ms;
}

/* line 66, ../scss/load.scss */
#part4 {
  background-color: #0F9D58;
  animation-delay: -3000ms;
}

@keyframes translate {
  /* line 72, ../scss/load.scss */
  100% {
    transform: translateX(200px);
  }
}
@keyframes scale {
  /* line 76, ../scss/load.scss */
  100% {
    transform: scale(1);
  }
}
@keyframes zindex {
  /* line 80, ../scss/load.scss */
  25% {
    z-index: 1;
  }

  /* line 81, ../scss/load.scss */
  75% {
    z-index: -1;
  }
}
@keyframes fadeIn {
  /* line 84, ../scss/load.scss */
  100% {
    opacity: 1;
  }
}
/* Utils */
/* line 3, ../scss/utils.scss */
.white {
  color: white;
}

/* line 7, ../scss/utils.scss */
.padded {
  padding: 10px;
}

/* line 11, ../scss/utils.scss */
.padded-md {
  padding: 20px;
}

/* line 15, ../scss/utils.scss */
.padded-lg {
  padding: 30px;
}

/* line 19, ../scss/utils.scss */
.padded-left {
  padding-left: 30px;
}

/* line 23, ../scss/utils.scss */
.table {
  margin-bottom: 0px !important;
}

/* line 27, ../scss/utils.scss */
.text-justify {
  text-align: justify;
}

/* Circular Images */
/* line 32, ../scss/utils.scss */
.circular-img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

/* Circular Images */
/* line 41, ../scss/utils.scss */
.circular-img-sm {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  position: relative;
}

/* line 52, ../scss/utils.scss */
.circular-img-xs {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
}

/* line 1, ../scss/home.scss */
#home table {
  margin-left: 40px;
}

@media only screen and (min-width: 768px) {
  /* line 6, ../scss/home.scss */
  #home {
    width: 100%;
    height: 100%;
    background: transparent right no-repeat;
    background-size: contain;
    background-image: url(../assets/images/logo.png);
  }

  /* line 14, ../scss/home.scss */
  #home table td {
    padding: 30px;
  }
}
@media only screen and (min-width: 768px) and (max-height: 768px) {
  /* line 22, ../scss/home.scss */
  #home table td {
    padding: 20px;
  }
}
@media only screen and (min-width: 1280px) {
  /* line 28, ../scss/home.scss */
  #home table {
    margin-left: 100px;
  }
}
/* line 2, ../scss/devfest_content.scss */
#devfest-content {
  height: auto !important;
  padding-bottom: 20px;
  padding-top: 80px;
}

/* line 11, ../scss/devfest_content.scss */
.img-sessions {
  background: url(../assets/images/2013/glass_200.png) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 17, ../scss/devfest_content.scss */
.img-codelabs {
  background: url(../assets/images/2013/hall_200.png) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 23, ../scss/devfest_content.scss */
.img-demos {
  background: url(../assets/images/2013/oculus_200.png) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 1, ../scss/speakers.scss */
#speakers {
  height: auto !important;
}

/* line 7, ../scss/speakers.scss */
#speakers .circular-img-sm:hover:after {
  content: '';
  top: 0;
  position: absolute;
  left: 0;
  width: 150px;
  height: 150px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 75px;
}
/* line 19, ../scss/speakers.scss */
#speakers .speaker-title {
  line-height: 21px;
  height: 42px;
}
/* line 25, ../scss/speakers.scss */
#speakers .circular-img-sm:hover a {
  position: absolute;
  width: 75px;
  height: 75px;
  display: block;
  z-index: 2;
  color: #DDD;
}
/* line 33, ../scss/speakers.scss */
#speakers .circular-img-sm:hover a i {
  line-height: 75px;
  width: 75px;
  text-align: center;
}
/* line 40, ../scss/speakers.scss */
#speakers .circular-img-sm:hover a.social_1_1, #speakers .circular-img-sm:hover a.social_1_2, #speakers .circular-img-sm:hover a.social_2_2,
#speakers .circular-img-sm:hover a.social_1_3, #speakers .circular-img-sm:hover a.social_2_3, #speakers .circular-img-sm:hover a.social_3_3,
#speakers .circular-img-sm:hover a.social_1_4, #speakers .circular-img-sm:hover a.social_2_4, #speakers .circular-img-sm:hover a.social_3_4, #speakers .circular-img-sm:hover a.social_4_4 {
  margin-top: -37.5px;
  margin-left: -37.5px;
}
/* line 48, ../scss/speakers.scss */
#speakers .circular-img-sm:hover a.social_1_1, #speakers .circular-img-sm:hover a.social_1_2, #speakers .circular-img-sm:hover a.social_2_2 {
  top: 50%;
}
/* line 52, ../scss/speakers.scss */
#speakers .circular-img-sm:hover a.social_1_1, #speakers .circular-img-sm:hover a.social_3_3 {
  left: 50%;
}
/* line 56, ../scss/speakers.scss */
#speakers .circular-img-sm:hover a.social_1_3, #speakers .circular-img-sm:hover a.social_2_3,
#speakers .circular-img-sm:hover a.social_1_4, #speakers .circular-img-sm:hover a.social_2_4 {
  top: 25%;
}
/* line 61, ../scss/speakers.scss */
#speakers .circular-img-sm:hover a.social_3_3,
#speakers .circular-img-sm:hover a.social_3_4, #speakers .circular-img-sm:hover a.social_4_4 {
  top: 75%;
}
/* line 67, ../scss/speakers.scss */
#speakers .circular-img-sm:hover a.social_1_2, #speakers .circular-img-sm:hover a.social_1_3, #speakers .circular-img-sm:hover a.social_1_4, #speakers .circular-img-sm:hover a.social_3_4 {
  left: 25%;
}
/* line 71, ../scss/speakers.scss */
#speakers .circular-img-sm:hover a.social_2_2, #speakers .circular-img-sm:hover a.social_2_3, #speakers .circular-img-sm:hover a.social_2_4, #speakers .circular-img-sm:hover a.social_4_4 {
  left: 75%;
}
/* line 77, ../scss/speakers.scss */
#speakers .circular-img-sm {
  margin-bottom: 10px;
}
/* line 80, ../scss/speakers.scss */
#speakers .circular-img-sm a {
  display: none;
}

/* line 86, ../scss/speakers.scss */
.img-alopez {
  background: url(../assets/images/speakers/alopez.png) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 92, ../scss/speakers.scss */
.img-arichard {
  background: url(../assets/images/speakers/arichard.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 98, ../scss/speakers.scss */
.img-bdorsey {
  background: url(../assets/images/speakers/bdorsey.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 104, ../scss/speakers.scss */
.img-cmottier {
  background: url(../assets/images/speakers/cmottier.jpeg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 110, ../scss/speakers.scss */
.img-cquilici {
  background: url(../assets/images/speakers/cquilici.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 118, ../scss/speakers.scss */
.img-dgageot {
  background: url(../assets/images/speakers/dgageot.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 124, ../scss/speakers.scss */
.img-dlecan {
  background: url(../assets/images/speakers/dlecan.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 130, ../scss/speakers.scss */
.img-elezmy {
  background: url(../assets/images/speakers/elezmy.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 136, ../scss/speakers.scss */
.img-fharper {
  background: url(../assets/images/speakers/fharper.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 142, ../scss/speakers.scss */
.img-fherrou {
  background: url(../assets/images/speakers/fherrou.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 148, ../scss/speakers.scss */
.img-ftrichet {
  background: url(../assets/images/speakers/ftrichet.jpeg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 154, ../scss/speakers.scss */
.img-hgonzalez {
  background: url(../assets/images/speakers/hgonzalez.png) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 160, ../scss/speakers.scss */
.img-jdramaix {
  background: url(../assets/images/speakers/jdramaix.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 166, ../scss/speakers.scss */
.img-jdubois {
  background: url(../assets/images/speakers/jdubois.jpeg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 172, ../scss/speakers.scss */
.img-jferraioli {
  background: url(../assets/images/speakers/jferraioli.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 178, ../scss/speakers.scss */
.img-jmouton {
  background: url(../assets/images/speakers/jmouton.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 184, ../scss/speakers.scss */
.img-jpalies {
  background: url(../assets/images/speakers/jpalies.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 190, ../scss/speakers.scss */
.img-lchampenois {
  background: url(../assets/images/speakers/lchampenois.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 196, ../scss/speakers.scss */
.img-mbelmokhtar {
  background: url(../assets/images/speakers/mbelmokhtar.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 202, ../scss/speakers.scss */
.img-mboillod {
  background: url(../assets/images/speakers/mboillod.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 208, ../scss/speakers.scss */
.img-mgorner {
  background: url(../assets/images/speakers/mgorner.png) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 214, ../scss/speakers.scss */
.img-ngarnier {
  background: url(../assets/images/speakers/ngarnier.jpeg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 220, ../scss/speakers.scss */
.img-pcans {
  background: url(../assets/images/speakers/pcans.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 226, ../scss/speakers.scss */
.img-preliquet {
  background: url(../assets/images/speakers/preliquet.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 232, ../scss/speakers.scss */
.img-rchardonneau {
  background: url(../assets/images/speakers/rchardonneau.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 238, ../scss/speakers.scss */
.img-rguilloux {
  background: url(../assets/images/speakers/rguilloux.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 244, ../scss/speakers.scss */
.img-rmenetrier {
  background: url(../assets/images/speakers/rmenetrier.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 250, ../scss/speakers.scss */
.img-roddet {
  background: url(../assets/images/speakers/roddet.jpeg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 256, ../scss/speakers.scss */
.img-swalter {
  background: url(../assets/images/speakers/swalter.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 262, ../scss/speakers.scss */
.img-tgrall {
  background: url(../assets/images/speakers/tgrall.png) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 268, ../scss/speakers.scss */
.img-tbd {
  background: url(../assets/images/speakers/unknown.png) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 1, ../scss/what_is_devfest.scss */
#what-is-devfest {
  height: auto !important;
}

/* line 1, ../scss/sponsors.scss */
#sponsors {
  height: auto !important;
  padding-bottom: 40px;
}

/* line 6, ../scss/sponsors.scss */
.img-sponsor {
  display: block;
  height: auto;
  max-width: 100%;
  margin: auto;
  padding-bottom: 20px;
}

/* line 14, ../scss/sponsors.scss */
.img-sponsor.platinium {
  max-width: 300px;
  max-height: 150px;
}

/* line 19, ../scss/sponsors.scss */
.img-sponsor.gold {
  max-width: 250px;
  max-height: 130px;
}

/* line 24, ../scss/sponsors.scss */
.img-sponsor.silver {
  max-width: 200px;
  max-height: 100px;
}

/* line 29, ../scss/sponsors.scss */
.img-sponsor.partner {
  max-width: 200px;
  max-height: 100px;
}

/* line 34, ../scss/sponsors.scss */
.empty-sponsor {
  background-color: #CCC;
  margin: auto;
  padding-top: 40px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

/* line 1, ../scss/sponsoring.scss */
#sponsoring {
  height: auto !important;
}

/* line 1, ../scss/carousel.scss */
#caroussel {
  height: auto !important;
}

/* line 1, ../scss/pratique.scss */
#pratique {
  height: auto !important;
  padding-bottom: 40px;
}

/* line 1, ../scss/contacts.scss */
#contacts {
  height: auto !important;
  background-color: #444;
}

/* line 1, ../scss/presse.scss */
#presse {
  height: auto !important;
  color: #999;
}
/* line 6, ../scss/presse.scss */
#presse h1 {
  color: white;
}

/* line 1, ../scss/cfp.scss */
#cfp {
  height: auto !important;
  color: #999;
}
/* line 6, ../scss/cfp.scss */
#cfp h1 {
  color: white;
}

/* line 13, ../scss/cfp.scss */
.cfp-speaker {
  background-image: url(../assets/images/2013/photo_cfp_ludovic.jpg);
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;
  height: 600px;
}

@media only screen and (max-width: 768px) {
  /* line 3, ../scss/devfest_phone.scss */
  #home h1 {
    font-size: 2em;
  }

  /* line 7, ../scss/devfest_phone.scss */
  #home table td {
    padding: 20px;
  }

  /* line 11, ../scss/devfest_phone.scss */
  #video-phone {
    height: auto !important;
  }
}
/*
TO REMOVE !!!
*/
/* line 22, ../scss/agenda.scss */
#agenda #header-agenda-to-copy .row .white-gdg,
#header-agenda-copy .row .white-gdg,
#agenda-container .row .white-gdg {
  opacity: 0;
}

/* line 28, ../scss/agenda.scss */
#agenda .row .conf-room {
  display: none !important;
}

@media only screen and (min-width: 769px) {
  /* line 33, ../scss/agenda.scss */
  #agenda {
    margin-left: -100px;
  }

  /* line 37, ../scss/agenda.scss */
  #header-agenda-copy {
    margin-left: -50px;
  }
}
/*
END TO REMOVE !!! 
*/
/* line 45, ../scss/agenda.scss */
#agenda {
  height: auto !important;
}
/* line 48, ../scss/agenda.scss */
#agenda h1 {
  color: white;
}

/* line 53, ../scss/agenda.scss */
#header-agenda-copy {
  background: #444;
  position: fixed;
  top: 60px;
  width: 100%;
}
/* line 59, ../scss/agenda.scss */
#header-agenda-copy .header-agenda .border {
  -moz-box-shadow: black 0px 2px 10px;
  -webkit-box-shadow: black 0px 2px 10px;
  box-shadow: black 0px 2px 10px;
}

/* line 66, ../scss/agenda.scss */
#agenda, #header-agenda-to-copy, #header-agenda-copy {
  color: #999999;
  	/*.row .to-hide.popup-resume{
  		opacity: 0;
  		@include transition-delay(0ms);
  		@include transition-duration(0ms);
  	}
  
  	.row .popup-resume{
  		position: absolute;		
  		opacity: 1;
  		left: 50%;
  		top:100px;
  		width: 800px;
  		margin-left: -300px;
  		color: #333;
  		background: rgba(220,220,220,0.95);
  		padding: 30px;
  		z-index: 100;
  		@include box-shadow(black 1px 1px 10px);
  		@include transition-property(opacity);
  		@include transition-delay(500ms);
  		@include transition-duration(100ms);
  		p:first-child{
  			font-weight:bold;
  		}
  	}
  
  	.row .animated-expand.expand ~ .popup-resume{
  		display: none;
  	}
  
  	.row .animated-expand:not(.expand):hover{
  		@include transition-property(border-top-width);
  		@include transition-duration(100ms);
  		@include transition-timing-function(ease-in);
  		border-top-width: $size-border-hover !important;
  	}*/
}
/* line 71, ../scss/agenda.scss */
#agenda .text-hour, #header-agenda-to-copy .text-hour, #header-agenda-copy .text-hour {
  font-size: 25pt;
}
/* line 75, ../scss/agenda.scss */
#agenda .text-thin, #agenda .text-hour, #header-agenda-to-copy .text-thin, #header-agenda-to-copy .text-hour, #header-agenda-copy .text-thin, #header-agenda-copy .text-hour {
  font-family: 'RobotoThin', Arial, sans-serif;
}
/* line 79, ../scss/agenda.scss */
#agenda .row, #header-agenda-to-copy .row, #header-agenda-copy .row {
  margin-bottom: 10px;
}
/* line 83, ../scss/agenda.scss */
#agenda .row:after, #header-agenda-to-copy .row:after, #header-agenda-copy .row:after {
  content: '';
  position: relative;
  top: 5px;
  left: 50%;
  margin-left: -30%;
  width: 60%;
  height: 1px;
}
/* line 94, ../scss/agenda.scss */
#agenda .row:first-child:after, #agenda .row:last-child:after, #header-agenda-to-copy .row:first-child:after, #header-agenda-to-copy .row:last-child:after, #header-agenda-copy .row:first-child:after, #header-agenda-copy .row:last-child:after {
  height: 0;
}
/* line 98, ../scss/agenda.scss */
#agenda .row.header-agenda, #header-agenda-to-copy .row.header-agenda, #header-agenda-copy .row.header-agenda {
  margin-bottom: 5px;
}
/* line 102, ../scss/agenda.scss */
#agenda .header-agenda .border:not(.col-lg-offset-1), #header-agenda-to-copy .header-agenda .border:not(.col-lg-offset-1), #header-agenda-copy .header-agenda .border:not(.col-lg-offset-1) {
  margin-left: 10px;
}
/* line 106, ../scss/agenda.scss */
#agenda .row .border, #header-agenda-to-copy .row .border, #header-agenda-copy .row .border {
  background: #f2f2f2;
}
/* line 109, ../scss/agenda.scss */
#agenda .row .border .lead, #header-agenda-to-copy .row .border .lead, #header-agenda-copy .row .border .lead {
  padding-top: 10px;
  margin-bottom: 10px;
}
/* line 115, ../scss/agenda.scss */
#agenda .row .border.red-gdg, #header-agenda-to-copy .row .border.red-gdg, #header-agenda-copy .row .border.red-gdg {
  color: white;
  background: #da483c;
}
/* line 119, ../scss/agenda.scss */
#agenda .row .border.green-gdg, #header-agenda-to-copy .row .border.green-gdg, #header-agenda-copy .row .border.green-gdg {
  color: white;
  background: #0c9a54;
}
/* line 123, ../scss/agenda.scss */
#agenda .row .border.yellow-gdg, #header-agenda-to-copy .row .border.yellow-gdg, #header-agenda-copy .row .border.yellow-gdg {
  color: white;
  background: #f7c63d;
}
/* line 127, ../scss/agenda.scss */
#agenda .row .border.blue-gdg, #header-agenda-to-copy .row .border.blue-gdg, #header-agenda-copy .row .border.blue-gdg {
  color: white;
  background: #6388c5;
}
/* line 132, ../scss/agenda.scss */
#agenda .row .border-hour, #header-agenda-to-copy .row .border-hour, #header-agenda-copy .row .border-hour {
  		/*border-right: thin solid $color-border;
  		border-left-width: 0px;
  		-webkit-border-image: -webkit-gradient(linear, left top, left bottom, stop(0%, rgba(0,0,0,0)), stop(50%, $color-border) , stop(100%, rgba(0,0,0,0))) 1 100%;
          -moz-border-image:   -moz-linear-gradient(top ,rgba(0,0,0,0) 0%, $color-border 50%, rgba(0,0,0,0) 100%) 1 100%;    
          -o-border-image:   -o-linear-gradient(top ,rgba(0,0,0,0) 0%, $color-border 50%, rgba(0,0,0,0) 100%) 1 100%;
          -ms-border-image:   -ms-linear-gradient(top ,rgba(0,0,0,0) 0%, $color-border 50%, rgba(0,0,0,0) 100%) 1 100%;
          border-image:   linear-gradient(to bottom, rgba(0,0,0,0) 0%, $color-border 50%, rgba(0,0,0,0) 100%) 1 100%;*/
}
/* line 142, ../scss/agenda.scss */
#agenda .col-xs-9.col-lg-2.padded.animated-expand, #header-agenda-to-copy .col-xs-9.col-lg-2.padded.animated-expand, #header-agenda-copy .col-xs-9.col-lg-2.padded.animated-expand {
  margin-left: 10px;
}
/* line 147, ../scss/agenda.scss */
#agenda .row .animated-expand:hover, #header-agenda-to-copy .row .animated-expand:hover, #header-agenda-copy .row .animated-expand:hover {
  cursor: pointer;
}
/* line 151, ../scss/agenda.scss */
#agenda .row, #header-agenda-to-copy .row, #header-agenda-copy .row {
  position: relative;
}
/* line 155, ../scss/agenda.scss */
#agenda .row .animated-expand .favorites, #header-agenda-to-copy .row .animated-expand .favorites, #header-agenda-copy .row .animated-expand .favorites {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  margin-right: 0px;
}
/* line 163, ../scss/agenda.scss */
#agenda .row .animated-expand.green-gdg .favorites, #header-agenda-to-copy .row .animated-expand.green-gdg .favorites, #header-agenda-copy .row .animated-expand.green-gdg .favorites {
  color: #0c9a54;
}
/* line 167, ../scss/agenda.scss */
#agenda .row .animated-expand.yellow-gdg .favorites, #header-agenda-to-copy .row .animated-expand.yellow-gdg .favorites, #header-agenda-copy .row .animated-expand.yellow-gdg .favorites {
  color: #f7c63d;
}
/* line 171, ../scss/agenda.scss */
#agenda .row .animated-expand.red-gdg .favorites, #header-agenda-to-copy .row .animated-expand.red-gdg .favorites, #header-agenda-copy .row .animated-expand.red-gdg .favorites {
  color: #da483c;
}
/* line 175, ../scss/agenda.scss */
#agenda .row .animated-expand.blue-gdg .favorites, #header-agenda-to-copy .row .animated-expand.blue-gdg .favorites, #header-agenda-copy .row .animated-expand.blue-gdg .favorites {
  color: #6388c5;
}
/* line 217, ../scss/agenda.scss */
#agenda .row .animated-expand .anchor-session, #header-agenda-to-copy .row .animated-expand .anchor-session, #header-agenda-copy .row .animated-expand .anchor-session {
  position: relative;
  visibility: hidden;
  display: block;
  height: 160px;
  margin-top: -160px;
}
/* line 227, ../scss/agenda.scss */
#agenda .row .white-gdg, #header-agenda-to-copy .row .white-gdg, #header-agenda-copy .row .white-gdg {
  border-top: 3px #f2f2f2 solid;
}
/* line 230, ../scss/agenda.scss */
#agenda .row .grey-gdg, #header-agenda-to-copy .row .grey-gdg, #header-agenda-copy .row .grey-gdg {
  margin-left: 10px;
  border-top: 3px #999999 solid;
}
/* line 234, ../scss/agenda.scss */
#agenda .row .grey-gdg:after, #header-agenda-to-copy .row .grey-gdg:after, #header-agenda-copy .row .grey-gdg:after {
  content: '';
  width: 30px;
  top: -3px;
  right: -30px;
  position: absolute;
  border-top: 3px #999999 solid;
}
/* line 243, ../scss/agenda.scss */
#agenda .row .animated-expand.green-gdg, #header-agenda-to-copy .row .animated-expand.green-gdg, #header-agenda-copy .row .animated-expand.green-gdg {
  border-top: 3px #0c9a54 solid;
}
/* line 246, ../scss/agenda.scss */
#agenda .row .animated-expand.yellow-gdg, #header-agenda-to-copy .row .animated-expand.yellow-gdg, #header-agenda-copy .row .animated-expand.yellow-gdg {
  border-top: 3px #f7c63d solid;
}
/* line 249, ../scss/agenda.scss */
#agenda .row .animated-expand.blue-gdg, #header-agenda-to-copy .row .animated-expand.blue-gdg, #header-agenda-copy .row .animated-expand.blue-gdg {
  border-top: 3px #6388c5 solid;
}
/* line 252, ../scss/agenda.scss */
#agenda .row .animated-expand.red-gdg, #header-agenda-to-copy .row .animated-expand.red-gdg, #header-agenda-copy .row .animated-expand.red-gdg {
  border-top: 3px #da483c solid;
}
/* line 257, ../scss/agenda.scss */
#agenda .row .col-lg-2 .title-conf-parent, #header-agenda-to-copy .row .col-lg-2 .title-conf-parent, #header-agenda-copy .row .col-lg-2 .title-conf-parent {
  height: 6.0em;
  margin-bottom: 10px;
  position: relative;
}
/* line 264, ../scss/agenda.scss */
#agenda .row .animated-expand.expand .resume-light, #header-agenda-to-copy .row .animated-expand.expand .resume-light, #header-agenda-copy .row .animated-expand.expand .resume-light {
  display: none;
}
/* line 268, ../scss/agenda.scss */
#agenda .row .animated-expand.col-lg-2 .resume, #header-agenda-to-copy .row .animated-expand.col-lg-2 .resume, #header-agenda-copy .row .animated-expand.col-lg-2 .resume {
  display: none;
}
/* line 273, ../scss/agenda.scss */
#agenda .row .title-conf, #header-agenda-to-copy .row .title-conf, #header-agenda-copy .row .title-conf {
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: bold;
  padding-right: 10px;
}
/* line 280, ../scss/agenda.scss */
#agenda .row .col-lg-2 .title-conf, #header-agenda-to-copy .row .col-lg-2 .title-conf, #header-agenda-copy .row .col-lg-2 .title-conf {
  font-size: 1.2em;
  line-height: 1.2em;
  height: 6.0em;
}
/* line 287, ../scss/agenda.scss */
#agenda .row .animated-expand.to-hide, #header-agenda-to-copy .row .animated-expand.to-hide, #header-agenda-copy .row .animated-expand.to-hide {
  display: none !important;
}
/* line 291, ../scss/agenda.scss */
#agenda .row .animated-expand.expand, #header-agenda-to-copy .row .animated-expand.expand, #header-agenda-copy .row .animated-expand.expand {
  margin-left: 10px;
  border-top-width: 3px;
}
/* line 296, ../scss/agenda.scss */
#agenda .row .animated-expand.expand:after, #header-agenda-to-copy .row .animated-expand.expand:after, #header-agenda-copy .row .animated-expand.expand:after {
  content: '';
  width: 30px;
  top: -3px;
  right: -30px;
  position: absolute;
  border-top: 3px #999999 solid;
}
/* line 305, ../scss/agenda.scss */
#agenda .row .animated-expand.green-gdg:after, #header-agenda-to-copy .row .animated-expand.green-gdg:after, #header-agenda-copy .row .animated-expand.green-gdg:after {
  border-top-color: #0c9a54;
}
/* line 308, ../scss/agenda.scss */
#agenda .row .animated-expand.yellow-gdg:after, #header-agenda-to-copy .row .animated-expand.yellow-gdg:after, #header-agenda-copy .row .animated-expand.yellow-gdg:after {
  border-top-color: #f7c63d;
}
/* line 311, ../scss/agenda.scss */
#agenda .row .animated-expand.blue-gdg:after, #header-agenda-to-copy .row .animated-expand.blue-gdg:after, #header-agenda-copy .row .animated-expand.blue-gdg:after {
  border-top-color: #6388c5;
}
/* line 314, ../scss/agenda.scss */
#agenda .row .animated-expand.red-gdg:after, #header-agenda-to-copy .row .animated-expand.red-gdg:after, #header-agenda-copy .row .animated-expand.red-gdg:after {
  border-top-color: #da483c;
}
/* line 318, ../scss/agenda.scss */
#agenda .row .conf-speakers .speaker, #header-agenda-to-copy .row .conf-speakers .speaker, #header-agenda-copy .row .conf-speakers .speaker {
  margin: 5px;
  display: inline-block;
}
/* line 322, ../scss/agenda.scss */
#agenda .row .conf-speakers .speaker a, #header-agenda-to-copy .row .conf-speakers .speaker a, #header-agenda-copy .row .conf-speakers .speaker a {
  color: inherit;
}
/* line 325, ../scss/agenda.scss */
#agenda .row .conf-speakers .speaker a:link, #agenda .row .conf-speakers .speaker a:visited, #agenda .row .conf-speakers .speaker a:hover, #agenda .row .conf-speakers .speaker a:active, #header-agenda-to-copy .row .conf-speakers .speaker a:link, #header-agenda-to-copy .row .conf-speakers .speaker a:visited, #header-agenda-to-copy .row .conf-speakers .speaker a:hover, #header-agenda-to-copy .row .conf-speakers .speaker a:active, #header-agenda-copy .row .conf-speakers .speaker a:link, #header-agenda-copy .row .conf-speakers .speaker a:visited, #header-agenda-copy .row .conf-speakers .speaker a:hover, #header-agenda-copy .row .conf-speakers .speaker a:active {
  text-decoration: none;
}
/* line 330, ../scss/agenda.scss */
#agenda .row .conf-speakers, #header-agenda-to-copy .row .conf-speakers, #header-agenda-copy .row .conf-speakers {
  margin-bottom: 10px;
}
/* line 333, ../scss/agenda.scss */
#agenda .row .conf-speakers .speaker, #header-agenda-to-copy .row .conf-speakers .speaker, #header-agenda-copy .row .conf-speakers .speaker {
  position: relative;
  width: 100%;
}
/* line 338, ../scss/agenda.scss */
#agenda .row .conf-speakers .speaker-img, #header-agenda-to-copy .row .conf-speakers .speaker-img, #header-agenda-copy .row .conf-speakers .speaker-img {
  margin: 0;
}
/* line 345, ../scss/agenda.scss */
#agenda .row .conf-speakers .speaker-name, #header-agenda-to-copy .row .conf-speakers .speaker-name, #header-agenda-copy .row .conf-speakers .speaker-name {
  text-align: center;
  text-overflow: ellipsis;
  position: absolute;
  left: 55px;
  top: 15px;
}
/* line 354, ../scss/agenda.scss */
#agenda .row .conf-room, #header-agenda-to-copy .row .conf-room, #header-agenda-copy .row .conf-room {
  text-align: left;
  display: inline-block;
  margin-bottom: 10px;
}
/* line 360, ../scss/agenda.scss */
#agenda .row .col-lg-2 .conf-dificulty, #agenda .row .col-lg-2 .conf-lang, #header-agenda-to-copy .row .col-lg-2 .conf-dificulty, #header-agenda-to-copy .row .col-lg-2 .conf-lang, #header-agenda-copy .row .col-lg-2 .conf-dificulty, #header-agenda-copy .row .col-lg-2 .conf-lang {
  display: none;
}
/* line 364, ../scss/agenda.scss */
#agenda .row .col-lg-8 .conf-dificulty, #agenda .row .col-lg-8 .conf-lang, #header-agenda-to-copy .row .col-lg-8 .conf-dificulty, #header-agenda-to-copy .row .col-lg-8 .conf-lang, #header-agenda-copy .row .col-lg-8 .conf-dificulty, #header-agenda-copy .row .col-lg-8 .conf-lang {
  display: inline-block;
}

@media only screen and (max-width: 768px) {
  /* line 374, ../scss/agenda.scss */
  #agenda .row .animated-expand.col-lg-2 .resume-light {
    display: none;
  }

  /* line 378, ../scss/agenda.scss */
  #agenda .row .animated-expand.col-lg-2 .resume {
    display: block;
  }

  /* line 382, ../scss/agenda.scss */
  #agenda .row .anchor-session-mobile {
    position: relative;
    visibility: hidden;
    display: block;
    height: 145px;
    margin-top: -145px;
  }

  /* line 393, ../scss/agenda.scss */
  #header-agenda-copy .header-agenda .border {
    -moz-box-shadow: black 0px 0px 0px;
    -webkit-box-shadow: black 0px 0px 0px;
    box-shadow: black 0px 0px 0px;
  }

  /* line 401, ../scss/agenda.scss */
  #agenda .row .lead, #header-agenda-to-copy .row .lead, #header-agenda-copy .row .lead {
    font-size: 1em;
  }
  /* line 405, ../scss/agenda.scss */
  #agenda .header-agenda .border:not(.col-lg-offset-1), #header-agenda-to-copy .header-agenda .border:not(.col-lg-offset-1), #header-agenda-copy .header-agenda .border:not(.col-lg-offset-1) {
    margin-left: 0px;
    cursor: hand;
  }
  /* line 410, ../scss/agenda.scss */
  #agenda .header-agenda .border.select, #header-agenda-to-copy .header-agenda .border.select, #header-agenda-copy .header-agenda .border.select {
    z-index: 100;
    -moz-box-shadow: black 0px 2px 10px inset;
    -webkit-box-shadow: black 0px 2px 10px inset;
    box-shadow: black 0px 2px 10px inset;
  }
  /* line 416, ../scss/agenda.scss */
  #agenda .row .col-lg-2 .title-conf.to-long:after, #agenda .row .col-lg-2 .title-conf.to-long:before, #header-agenda-to-copy .row .col-lg-2 .title-conf.to-long:after, #header-agenda-to-copy .row .col-lg-2 .title-conf.to-long:before, #header-agenda-copy .row .col-lg-2 .title-conf.to-long:after, #header-agenda-copy .row .col-lg-2 .title-conf.to-long:before {
    content: none;
    width: 0;
    height: 0;
  }
  /* line 423, ../scss/agenda.scss */
  #agenda .row .col-lg-2 .title-conf.to-long, #header-agenda-to-copy .row .col-lg-2 .title-conf.to-long, #header-agenda-copy .row .col-lg-2 .title-conf.to-long {
    max-height: 15em;
    text-overflow: none;
    overflow: none;
  }
  /* line 429, ../scss/agenda.scss */
  #agenda .row .col-lg-2 .conf-dificulty, #agenda .row .col-lg-2 .conf-lang, #header-agenda-to-copy .row .col-lg-2 .conf-dificulty, #header-agenda-to-copy .row .col-lg-2 .conf-lang, #header-agenda-copy .row .col-lg-2 .conf-dificulty, #header-agenda-copy .row .col-lg-2 .conf-lang {
    display: inline-block;
  }
}
/* Default */
/* line 21, ../scss/devfest.scss */
body {
  overflow: hidden !important;
  background-color: #f2f2f2;
}

/* line 26, ../scss/devfest.scss */
h1 {
  font-family: 'RobotoThin', Arial, sans-serif;
  font-size: 3.5em;
}

/* Sections */
/* line 34, ../scss/devfest.scss */
.footer {
  font-size: 0.9em;
  color: #999;
}

/* line 39, ../scss/devfest.scss */
.footer h4 {
  color: white;
  font-weight: normal;
  font-size: 1.2em;
}

/* line 45, ../scss/devfest.scss */
.footer a {
  color: #AAA;
}

/* line 50, ../scss/devfest.scss */
.footer hr {
  border-color: #AAA;
}

/* line 54, ../scss/devfest.scss */
.controlArrow.prev {
  border-color: transparent #444 transparent transparent;
}

/* line 58, ../scss/devfest.scss */
.controlArrow.next {
  border-color: transparent transparent transparent #444;
}

/* Section transition image */
/* line 64, ../scss/devfest.scss */
.section-transition {
  height: 400px !important;
}

/* line 68, ../scss/devfest.scss */
.section-img {
  background: transparent center no-repeat;
  background-size: cover;
}

/* line 73, ../scss/devfest.scss */
.section-menu {
  padding-top: 60px;
}

/* line 77, ../scss/devfest.scss */
.bg-t1 {
  background-image: url(../assets/images/2013/angular.png);
}

/* line 81, ../scss/devfest.scss */
.bg-t2 {
  background-image: url(../assets/images/2013/cyril.png);
}

/* line 85, ../scss/devfest.scss */
.bg-t3 {
  background-image: url(../assets/images/2013/team.png);
}

/* Misc */
/* line 91, ../scss/devfest.scss */
.more-info {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
}

/* line 100, ../scss/devfest.scss */
#unsupport-div {
  padding: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 107, ../scss/devfest.scss */
#unsupport-div p {
  margin-left: 20px;
  font-weight: 600;
}

/* Menu */
/* line 114, ../scss/devfest.scss */
#menu {
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  opacity: 0;
}

/* line 121, ../scss/devfest.scss */
#menu.show {
  opacity: 1;
}

/* line 126, ../scss/devfest.scss */
#menu.navbar-default .navbar-nav > .active > a {
  background-color: inherit;
  background-image: inherit;
  background-repeat: inherit;
  box-shadow: inherit;
  -ms-box-shadow: inherit;
  -webkit-box-shadow: inherit;
  -o-box-shadow: inherit;
  -moz-box-shadow: inherit;
}

@media only screen and (min-width: 769px) {
  /* line 138, ../scss/devfest.scss */
  #menu li[data-menuanchor='nav-contacts'] {
    padding-right: 30px;
  }

  /* line 143, ../scss/devfest.scss */
  #menu.navbar-default .navbar-nav > .active > a:after {
    content: '';
    height: 3px;
    background-color: #a94442;
    width: 90%;
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -45%;
  }

  /* line 154, ../scss/devfest.scss */
  #menu ul, #menu ul li {
    height: 60px;
    line-height: 60px;
  }

  /* line 159, ../scss/devfest.scss */
  #menu ul li a {
    padding-top: 20px;
  }
}
