/* line 1, ../scss/home.scss */
#home table {
  margin-left: 40px;
}

@media only screen and (min-width: 768px) {
  /* line 6, ../scss/home.scss */
  #home {
    width: 100%;
    height: 100%;
    background: transparent right no-repeat;
    background-size: contain;
    background-image: url(../assets/images/logo.png);
  }

  /* line 14, ../scss/home.scss */
  #home table td {
    padding: 30px;
  }
}
@media only screen and (min-width: 768px) and (max-height: 768px) {
  /* line 22, ../scss/home.scss */
  #home table td {
    padding: 20px;
  }
}
@media only screen and (min-width: 1280px) {
  /* line 28, ../scss/home.scss */
  #home table {
    margin-left: 100px;
  }
}
