/* line 1, ../scss/speakers.scss */
#speakers {
  height: auto !important;
}

/* line 7, ../scss/speakers.scss */
#speakers .circular-img-sm:hover:after {
  content: '';
  top: 0;
  position: absolute;
  left: 0;
  width: 150px;
  height: 150px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 75px;
}
/* line 19, ../scss/speakers.scss */
#speakers .speaker-title {
  line-height: 21px;
  height: 42px;
}
/* line 25, ../scss/speakers.scss */
#speakers .circular-img-sm:hover a {
  position: absolute;
  width: 75px;
  height: 75px;
  display: block;
  z-index: 2;
  color: #DDD;
}
/* line 33, ../scss/speakers.scss */
#speakers .circular-img-sm:hover a i {
  line-height: 75px;
  width: 75px;
  text-align: center;
}
/* line 40, ../scss/speakers.scss */
#speakers .circular-img-sm:hover a.social_1_1, #speakers .circular-img-sm:hover a.social_1_2, #speakers .circular-img-sm:hover a.social_2_2,
#speakers .circular-img-sm:hover a.social_1_3, #speakers .circular-img-sm:hover a.social_2_3, #speakers .circular-img-sm:hover a.social_3_3,
#speakers .circular-img-sm:hover a.social_1_4, #speakers .circular-img-sm:hover a.social_2_4, #speakers .circular-img-sm:hover a.social_3_4, #speakers .circular-img-sm:hover a.social_4_4 {
  margin-top: -37.5px;
  margin-left: -37.5px;
}
/* line 48, ../scss/speakers.scss */
#speakers .circular-img-sm:hover a.social_1_1, #speakers .circular-img-sm:hover a.social_1_2, #speakers .circular-img-sm:hover a.social_2_2 {
  top: 50%;
}
/* line 52, ../scss/speakers.scss */
#speakers .circular-img-sm:hover a.social_1_1, #speakers .circular-img-sm:hover a.social_3_3 {
  left: 50%;
}
/* line 56, ../scss/speakers.scss */
#speakers .circular-img-sm:hover a.social_1_3, #speakers .circular-img-sm:hover a.social_2_3,
#speakers .circular-img-sm:hover a.social_1_4, #speakers .circular-img-sm:hover a.social_2_4 {
  top: 25%;
}
/* line 61, ../scss/speakers.scss */
#speakers .circular-img-sm:hover a.social_3_3,
#speakers .circular-img-sm:hover a.social_3_4, #speakers .circular-img-sm:hover a.social_4_4 {
  top: 75%;
}
/* line 67, ../scss/speakers.scss */
#speakers .circular-img-sm:hover a.social_1_2, #speakers .circular-img-sm:hover a.social_1_3, #speakers .circular-img-sm:hover a.social_1_4, #speakers .circular-img-sm:hover a.social_3_4 {
  left: 25%;
}
/* line 71, ../scss/speakers.scss */
#speakers .circular-img-sm:hover a.social_2_2, #speakers .circular-img-sm:hover a.social_2_3, #speakers .circular-img-sm:hover a.social_2_4, #speakers .circular-img-sm:hover a.social_4_4 {
  left: 75%;
}
/* line 77, ../scss/speakers.scss */
#speakers .circular-img-sm {
  margin-bottom: 10px;
}
/* line 80, ../scss/speakers.scss */
#speakers .circular-img-sm a {
  display: none;
}

/* line 86, ../scss/speakers.scss */
.img-alopez {
  background: url(../assets/images/speakers/alopez.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 92, ../scss/speakers.scss */
.img-arichard {
  background: url(../assets/images/speakers/arichard.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 98, ../scss/speakers.scss */
.img-bdorsey {
  background: url(../assets/images/speakers/bdorsey.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 104, ../scss/speakers.scss */
.img-cbossard {
  background: url(../assets/images/speakers/cbossard.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 110, ../scss/speakers.scss */
.img-cmottier {
  background: url(../assets/images/speakers/cmottier.jpeg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 116, ../scss/speakers.scss */
.img-cquilici {
  background: url(../assets/images/speakers/cquilici.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 124, ../scss/speakers.scss */
.img-dgageot {
  background: url(../assets/images/speakers/dgageot.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 130, ../scss/speakers.scss */
.img-dlecan {
  background: url(../assets/images/speakers/dlecan.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 136, ../scss/speakers.scss */
.img-elezmy {
  background: url(../assets/images/speakers/elezmy.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 142, ../scss/speakers.scss */
.img-fharper {
  background: url(../assets/images/speakers/fharper.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 148, ../scss/speakers.scss */
.img-fherrou {
  background: url(../assets/images/speakers/fherrou.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 154, ../scss/speakers.scss */
.img-fnoel {
  background: url(../assets/images/speakers/fnoel.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 160, ../scss/speakers.scss */
.img-ftrichet {
  background: url(../assets/images/speakers/ftrichet.jpeg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 166, ../scss/speakers.scss */
.img-gfaux {
  background: url(../assets/images/speakers/gfaux.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 172, ../scss/speakers.scss */
.img-ggirou {
  background: url(../assets/images/speakers/ggirou.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 178, ../scss/speakers.scss */
.img-gmenvielle {
  background: url(../assets/images/speakers/gmenvielle.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 184, ../scss/speakers.scss */
.img-hgonzalez {
  background: url(../assets/images/speakers/hgonzalez.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 190, ../scss/speakers.scss */
.img-jabrahamson {
  background: url(../assets/images/speakers/jabrahamson.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 196, ../scss/speakers.scss */
.img-jdramaix {
  background: url(../assets/images/speakers/jdramaix.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 202, ../scss/speakers.scss */
.img-jdubois {
  background: url(../assets/images/speakers/jdubois.jpeg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 208, ../scss/speakers.scss */
.img-jferraioli {
  background: url(../assets/images/speakers/jferraioli.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 214, ../scss/speakers.scss */
.img-jmouton {
  background: url(../assets/images/speakers/jmouton.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 220, ../scss/speakers.scss */
.img-jpalies {
  background: url(../assets/images/speakers/jpalies.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 226, ../scss/speakers.scss */
.img-lchampenois {
  background: url(../assets/images/speakers/lchampenois.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 232, ../scss/speakers.scss */
.img-mbelmokhtar {
  background: url(../assets/images/speakers/mbelmokhtar.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 238, ../scss/speakers.scss */
.img-mboillod {
  background: url(../assets/images/speakers/mboillod.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 244, ../scss/speakers.scss */
.img-mgorner {
  background: url(../assets/images/speakers/mgorner.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 250, ../scss/speakers.scss */
.img-nfrancois {
  background: url(../assets/images/speakers/nfrancois.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 256, ../scss/speakers.scss */
.img-ngarnier {
  background: url(../assets/images/speakers/ngarnier.jpeg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 262, ../scss/speakers.scss */
.img-nlebot {
  background: url(../assets/images/speakers/nlebot.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 268, ../scss/speakers.scss */
.img-pcans {
  background: url(../assets/images/speakers/pcans.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 274, ../scss/speakers.scss */
.img-preliquet {
  background: url(../assets/images/speakers/preliquet.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 280, ../scss/speakers.scss */
.img-rchardonneau {
  background: url(../assets/images/speakers/rchardonneau.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 286, ../scss/speakers.scss */
.img-rguilloux {
  background: url(../assets/images/speakers/rguilloux.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 292, ../scss/speakers.scss */
.img-rmenetrier {
  background: url(../assets/images/speakers/rmenetrier.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 298, ../scss/speakers.scss */
.img-roddet {
  background: url(../assets/images/speakers/roddet.jpeg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 304, ../scss/speakers.scss */
.img-swalter {
  background: url(../assets/images/speakers/swalter.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 310, ../scss/speakers.scss */
.img-tgrall {
  background: url(../assets/images/speakers/tgrall.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 316, ../scss/speakers.scss */
.img-xhallade {
  background: url(../assets/images/speakers/xhallade.jpg) no-repeat;
  background-size: contain;
  margin: auto;
}

/* line 322, ../scss/speakers.scss */
.img-tbd {
  background: url(../assets/images/speakers/unknown.png) no-repeat;
  background-size: contain;
  margin: auto;
}
