/* line 1, ../scss/sponsors.scss */
#sponsors {
  height: auto !important;
  padding-bottom: 40px;
}

/* line 6, ../scss/sponsors.scss */
.img-sponsor {
  display: block;
  height: auto;
  max-width: 100%;
  margin: auto;
  padding-bottom: 20px;
}

/* line 14, ../scss/sponsors.scss */
.img-sponsor.platinium {
  max-width: 300px;
  max-height: 150px;
}

/* line 19, ../scss/sponsors.scss */
.img-sponsor.gold {
  max-width: 250px;
  max-height: 130px;
}

/* line 24, ../scss/sponsors.scss */
.img-sponsor.silver {
  max-width: 200px;
  max-height: 100px;
}

/* line 29, ../scss/sponsors.scss */
.img-sponsor.partner {
  max-width: 200px;
  max-height: 100px;
}

/* line 34, ../scss/sponsors.scss */
.empty-sponsor {
  background-color: #CCC;
  margin: auto;
  padding-top: 40px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}
