@import "const";
@import "compass";
@import "compass/css3";

$color-text:#999;
$color-border:#f2f2f2;
$border-width : thin; 
$border-width-thin : 1px; 

#agenda{
	height: auto !important;
	
	h1{
		color: white;
	}
}

#header-agenda-copy{
	background: #444;
	position: fixed;
	top: $heightMenu;
	width: 100%;

	.header-agenda .border{
  		@include box-shadow(#000 0px 2px 10px);
	}


}

#agenda, #header-agenda-to-copy, #header-agenda-copy{
	
	color : $color-text;


	.text-hour{
		font-size: 25pt;
	}

	.text-thin, .text-hour{
		font-family: 'RobotoThin', Arial, sans-serif;
	}

	.row{
		margin-bottom: 10px;
	}

	.row:after{
		content: '';
		position: relative;
		top: 5px;
		left: 50%;
		margin-left: -30%;
		width: 60%;
		height: 1px;
		@include background-image(linear-gradient(to right, rgba(0,0,0,0), $color-border 50%, rgba(0,0,0,0)));
		//background: $color-border;
	}

	.row:first-child:after,.row:last-child:after{
		height: 0;
	}

	.row.header-agenda{
		margin-bottom: 5px;
	}

	.header-agenda .border:not(.col-lg-offset-1){
		margin-left: 10px;
	}

	.row .border{
		/*border-width: $border-width;
		border-color: $color-border; 
		border-style: solid;
		border-left-width: 0;		*/
		background: $color-border;

		.lead{
			padding-top: 10px;
			margin-bottom: 10px;
		}
	}

	/*.row .border:first-child {
		border-left-width:$border-width;	
	}*/

	.row .border-hour{
		border-right: thin solid $color-border;
	}

	/*.row  .animated-expand{
		@include transition-property(width);
		@include transition-timing-function(ease-in);
		@include transition-duration(200ms);
	}*/

	.col-xs-8.col-lg-2.padded.animated-expand{
		margin-left: 10px;
	}

	.row .animated-expand:hover{
		cursor: pointer;
	}

	.row .animated-expand.to-hide{
		display: none !important;
	}

}

