#agenda {
	height: auto !important;

	color : #999;

	h1{
		color: white;
	}

	.text-hour{
		font-size: 25pt;
	}

	.text-thin, .text-hour{
		font-family: 'RobotoThin', Arial, sans-serif;
	}

	$border-width : 2px; 
	$border-width-thin : 1px; 

	

	.row.header-agenda{
		margin-bottom: 5px;
	}

	.row .border{
		border-width: $border-width;
		border-color: #f2f2f2; 
		border-style: solid;
		border-left-width: 0;		
	}

	.row .border:first-child {
		border-left-width:$border-width;	
	}

}
