#cfp {
	height: auto !important;

	color : #999;

	h1{
		color: white;
	}
}



.cfp-speaker{
	background-image:url(../assets/images/2013/photo_cfp_ludovic.jpg);
	background-repeat: no-repeat;
	overflow: hidden;
	width: 100%;
	height: 600px;
}