@import "load";
@import "utils";
@import "home";
@import "devfest_content";
@import "speakers";
@import "what_is_devfest";
@import "sponsors";
@import "sponsoring";
@import "carousel";
@import "pratique";
@import "contacts";
@import "presse"; 
@import "cfp";
@import "devfest_phone";
@import "compass/css3";

/* Default */

body {
	overflow: hidden !important;
	background-color: #f2f2f2;
}

h1 {
  font-family: 'RobotoThin', Arial, sans-serif;
  font-size: 3.5em;
}


/* Sections */
$heightMenu : 60px;

.footer {
	font-size: 0.9em;
	color: #999;
}

.footer h4 {
	color: white;
	font-weight: normal;
	font-size: 1.2em;
}

.footer a {
	color: #AAA;
}


.footer hr {
	border-color: #AAA;
}

.controlArrow.prev {
	border-color: transparent #444 transparent transparent;
}

.controlArrow.next {
	border-color: transparent transparent transparent #444;
}

/* Section transition image */

.section-transition {
	height: 400px !important;
}

.section-img {
	background:transparent center no-repeat;
	background-size:cover;
}

.section-menu{
	padding-top: $heightMenu;
}

.bg-t1 {
	background-image:url(../assets/images/2013/angular.png);
}

.bg-t2 {
	background-image:url(../assets/images/2013/cyril.png);
}

.bg-t3 {
	background-image:url(../assets/images/2013/team.png);
}

/* Misc */

.more-info {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px;
}



#unsupport-div{
	padding: 20px;
	position: absolute;
	width: 100%;
	height: 100%;
}

#unsupport-div p{
	margin-left: 20px;
	font-weight: 600;
}

/* Menu */

#menu{
	@include transition-property(opacity);
	@include transition-timing-function(ease-in);
	@include transition-duration(500ms);
	opacity: 0;
}

#menu.show{
	opacity: 1;	
}


#menu.navbar-default .navbar-nav>.active>a{
	background-color: inherit;
	background-image: inherit;
	background-repeat: inherit;
	box-shadow: inherit;
	-webkit-box-shadow: inherit; 
	-o-box-shadow: inherit; 
	-moz-box-shadow: inherit; 
}

@media only screen and (min-width: 769px) {
	#menu li[data-menuanchor='nav-contacts']{
		padding-right: 30px;
	}


	#menu.navbar-default .navbar-nav>.active>a:after{
		content: '';
		height: 3px;
		background-color: #a94442;
		width: 90%;	
		position: absolute;
		bottom: -5px;
		left: 50%;
		margin-left: -45%;
	}

	#menu ul, #menu ul li{
		height: $heightMenu;
		line-height: $heightMenu;
	}

	#menu ul li a {
		padding-top: 20px;
	}
}