
#devfest-content {
	height: auto !important;
	padding-bottom: 20px;
	padding-top: 80px;
}




.img-sessions {
	background: url(../assets/images/2013/glass_200.png) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-codelabs {
	background: url(../assets/images/2013/hall_200.png) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-demos {
	background: url(../assets/images/2013/oculus_200.png) no-repeat;
	background-size:contain;
	margin: auto;
}



