
#devfest-content {
	height: auto !important;
	padding-bottom: 20px;
	padding-top: 80px;
}

#speakers {
	height: auto !important;
}


.img-sessions {
	background: url(../assets/images/2013/glass_200.png) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-codelabs {
	background: url(../assets/images/2013/hall_200.png) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-demos {
	background: url(../assets/images/2013/oculus_200.png) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-cmottier {
	background: url(../assets/images/speakers/cmottier.png) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-jmouton {
	background: url(../assets/images/speakers/jmouton.png) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-mgorner {
	background: url(../assets/images/speakers/mgorner.png) no-repeat;
	background-size:contain;
	margin: auto;
}


.img-dgageot {
	background: url(../assets/images/speakers/dgageot.jpg) no-repeat;
	background-size:contain;
	margin: auto;
}


.img-fharper {
	background: url(../assets/images/speakers/fharper.jpeg) no-repeat;
	background-size:contain;
	margin: auto;
}

