#speakers {
	height: auto !important;
}

#speakers{

	.circular-img-sm:hover:after{
		content:'';
		top: 0;
		position: absolute;
		left: 0;
		width: 150px;
		height: 150px;
		background: rgba(0,0,0,0.4);
		border-radius: 75px;

	}

	.speaker-title{
		line-height: 21px;
		height: 42px;
	}

	.circular-img-sm:hover{		
		a{
			position: absolute;
			width: 75px;
			height: 75px;
			display: block;
			z-index: 2;
			color: #DDD;

			i{
				line-height: 75px;
				width: 75px;
				text-align: center;
			}
		}

		a.social_1_1, a.social_1_2, a.social_2_2,
		a.social_1_3, a.social_2_3, a.social_3_3, 
		a.social_1_4, a.social_2_4, a.social_3_4, a.social_4_4
		{
			margin-top: -37.5px;
			margin-left: -37.5px;
		}

		a.social_1_1, a.social_1_2, a.social_2_2{
			top: 50%;
		}

		a.social_1_1, a.social_3_3{
			left:50%;
		}

		a.social_1_3, a.social_2_3, 
		a.social_1_4, a.social_2_4{
			top: 25%;
		}

		a.social_3_3, 
		a.social_3_4, a.social_4_4{
			top: 75%;	
		}


		a.social_1_2, a.social_1_3, a.social_1_4, a.social_3_4{
			left: 25%;	
		}

		a.social_2_2, a.social_2_3, a.social_2_4, a.social_4_4{
			left: 75%;
		}
	}


	.circular-img-sm{
		margin-bottom: 10px;

		a{
			display: none;
		}
	}
}

.img-alopez {
	background: url(../assets/images/speakers/alopez.jpg) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-arichard {
	background: url(../assets/images/speakers/arichard.jpg) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-bdorsey {
	background: url(../assets/images/speakers/bdorsey.jpg) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-cbossard {
	background: url(../assets/images/speakers/cbossard.jpg) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-cmottier {
	background: url(../assets/images/speakers/cmottier.jpeg) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-cquilici {
	background: url(../assets/images/speakers/cquilici.jpg) no-repeat;
	background-size:contain;
	margin: auto;
}



.img-dgageot {
	background: url(../assets/images/speakers/dgageot.jpg) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-dlecan {
	background: url(../assets/images/speakers/dlecan.jpg) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-elezmy {
	background: url(../assets/images/speakers/elezmy.jpg) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-fharper {
	background: url(../assets/images/speakers/fharper.jpg) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-fherrou {
	background: url(../assets/images/speakers/fherrou.jpg) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-fnoel {
	background: url(../assets/images/speakers/fnoel.jpg) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-ftrichet {
	background: url(../assets/images/speakers/ftrichet.jpeg) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-gfaux {
	background: url(../assets/images/speakers/gfaux.jpg) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-ggirou {
	background: url(../assets/images/speakers/ggirou.jpg) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-gmenvielle {
	background: url(../assets/images/speakers/gmenvielle.jpg) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-hgonzalez {
	background: url(../assets/images/speakers/hgonzalez.jpg) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-jabrahamson {
	background: url(../assets/images/speakers/jabrahamson.jpg) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-jdramaix {
	background: url(../assets/images/speakers/jdramaix.jpg) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-jdubois {
	background: url(../assets/images/speakers/jdubois.jpeg) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-jferraioli {
	background: url(../assets/images/speakers/jferraioli.jpg) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-jmouton {
	background: url(../assets/images/speakers/jmouton.jpg) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-jpalies {
	background: url(../assets/images/speakers/jpalies.jpg) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-lchampenois {
	background: url(../assets/images/speakers/lchampenois.jpg) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-mbelmokhtar {
	background: url(../assets/images/speakers/mbelmokhtar.jpg) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-mboillod {
	background: url(../assets/images/speakers/mboillod.jpg) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-mgorner {
	background: url(../assets/images/speakers/mgorner.jpg) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-nfrancois {
	background: url(../assets/images/speakers/nfrancois.jpg) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-ngarnier {
	background: url(../assets/images/speakers/ngarnier.jpeg) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-nlebot {
	background: url(../assets/images/speakers/nlebot.jpg) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-pcans {
	background: url(../assets/images/speakers/pcans.jpg) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-preliquet {
	background: url(../assets/images/speakers/preliquet.jpg) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-rchardonneau {
	background: url(../assets/images/speakers/rchardonneau.jpg) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-rguilloux {
	background: url(../assets/images/speakers/rguilloux.jpg) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-rmenetrier {
	background: url(../assets/images/speakers/rmenetrier.jpg) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-roddet {
	background: url(../assets/images/speakers/roddet.jpeg) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-swalter {
	background: url(../assets/images/speakers/swalter.jpg) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-tgrall {
	background: url(../assets/images/speakers/tgrall.jpg) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-xhallade {
	background: url(../assets/images/speakers/xhallade.jpg) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-tbd {
	background: url(../assets/images/speakers/unknown.png) no-repeat;
	background-size:contain;
	margin: auto;
}