#speakers {
	height: auto !important;
}

.img-cmottier {
	background: url(../assets/images/speakers/cmottier.png) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-jmouton {
	background: url(../assets/images/speakers/jmouton.png) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-mgorner {
	background: url(../assets/images/speakers/mgorner.png) no-repeat;
	background-size:contain;
	margin: auto;
}


.img-dgageot {
	background: url(../assets/images/speakers/dgageot.jpg) no-repeat;
	background-size:contain;
	margin: auto;
}


.img-fharper {
	background: url(../assets/images/speakers/fharper.jpeg) no-repeat;
	background-size:contain;
	margin: auto;
}

.img-ngarnier {
	background: url(../assets/images/speakers/ngarnier.jpeg) no-repeat;
	background-size:contain;
	margin: auto;
}