/* Utils */

.white {
	color: white;
}

.padded {
	padding : 10px;
}

.padded-md {
	padding : 20px;
}

.padded-lg {
	padding : 30px;
}

.padded-left {
	padding-left : 30px;
}

.table {
	margin-bottom: 0px !important;
}

.text-justify {
	text-align:justify;
}

/* Circular Images */
.circular-img {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

/* Circular Images */
.circular-img-sm {
	width: 150px;
	height: 150px;
	border-radius: 75px;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
	position: relative;
}

$size-cirular-xs : 50px;

.circular-img-xs {
	width: $size-cirular-xs;
	height: $size-cirular-xs;
	border-radius: $size-cirular-xs / 2;
	-webkit-border-radius: $size-cirular-xs / 2;
	-moz-border-radius: $size-cirular-xs / 2;
}