<div class="text-center"><h1>Programme</h1></div>
<!-- s'inspirer de http://demo.themecube.net/?theme=Evential -->
<div class="container padded">
	<div class="row">
		<div class="col-xs-1 col-xs-offset-2 padded border">
		 	<p class="lead text-justify">
				<strong class="text-thin">Horaires</strong>
			</p>
		</div>
		<div class="col-xs-2 padded  border">
			<p class="lead text-justify">
				<strong class="text-thin">Mobile</strong>
			</p>
		</div>
		<div class="col-xs-2 padded  border">
			<p class="lead text-justify">
				<strong class="text-thin">Web</strong>
			</p>
		</div>
		<div class="col-xs-2 padded  border">
			<p class="lead text-justify">
				<strong class="text-thin">Découverte</strong>
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-1 col-xs-offset-2 padded border">
		 	<p class="lead text-justify">
				<font class="text-hour text-thin">08</font>00<br>
				<font class="text-hour text-thin">08</font>30
			</p>
		</div>
		<div class="col-xs-6 padded border">
			<p class="lead text-justify">
				Accueil
			</p>
		</div>	
	</div>

	<div class="row">
		<div class="col-xs-1 col-xs-offset-2 padded">
		 	<p class="lead text-justify  text-thin">
				<font class="text-hour">08</font>30<br>
				<font class="text-hour">10</font>00
			</p>
		</div>
		<div class="col-xs-6 padded">
			<p class="lead text-justify">
				Keynote
			</p>
		</div>	
	</div>

	<div class="row">
		<div class="col-xs-1 col-xs-offset-2 padded">
		 	<p class="lead text-justify  text-thin">
				<font class="text-hour">10</font>10<br>
				<font class="text-hour">11</font>00
			</p>
		</div>
		<div class="col-xs-2 padded">
			<p class="lead text-justify">
				Conf1
			</p>
		</div>	
		<div class="col-xs-2 padded">
			<p class="lead text-justify">
				Conf2
			</p>
		</div>	
		<div class="col-xs-2 padded">
			<p class="lead text-justify">
				Conf3
			</p>
		</div>	
	</div>

	<div class="row">
		<div class="col-xs-1 col-xs-offset-2 padded">
		 	<p class="lead text-justify  text-thin">
				<font class="text-hour">11</font>10<br>
				<font class="text-hour">12</font>00
			</p>
		</div>
		<div class="col-xs-2 padded">
			<p class="lead text-justify">
				Conf1
			</p>
		</div>	
		<div class="col-xs-2 padded">
			<p class="lead text-justify">
				Conf2
			</p>
		</div>	
		<div class="col-xs-2 padded">
			<p class="lead text-justify">
				Conf3
			</p>
		</div>	
	</div>

	<div class="row">
		<div class="col-xs-1 col-xs-offset-2 padded">
		 	<p class="lead text-justify  text-thin">
				<font class="text-hour">12</font>00<br>
				<font class="text-hour">13</font>30
			</p>
		</div>
		<div class="col-xs-6 padded">
			<p class="lead text-justify">
				Déjeuner
			</p>
		</div>	
	</div>

	<div class="row">
		<div class="col-xs-1 col-xs-offset-2 padded">
		 	<p class="lead text-justify  text-thin">
				<font class="text-hour">13</font>30<br>
				<font class="text-hour">14</font>20
			</p>
		</div>
		<div class="col-xs-2 padded">
			<p class="lead text-justify">
				Conf1
			</p>
		</div>	
		<div class="col-xs-2 padded">
			<p class="lead text-justify">
				Conf2
			</p>
		</div>	
		<div class="col-xs-2 padded">
			<p class="lead text-justify">
				Conf3
			</p>
		</div>	
	</div>

	<div class="row">
		<div class="col-xs-1 col-xs-offset-2 padded">
		 	<p class="lead text-justify  text-thin">
				<font class="text-hour">14</font>30<br>
				<font class="text-hour">15</font>20
			</p>
		</div>
		<div class="col-xs-2 padded">
			<p class="lead text-justify">
				Conf1
			</p>
		</div>	
		<div class="col-xs-2 padded">
			<p class="lead text-justify">
				Conf2
			</p>
		</div>	
		<div class="col-xs-2 padded">
			<p class="lead text-justify">
				Conf3
			</p>
		</div>	
	</div>

	<div class="row">
		<div class="col-xs-1 col-xs-offset-2 padded">
		 	<p class="lead text-justify  text-thin">
				<font class="text-hour">15</font>20<br>
				<font class="text-hour">16</font>00
			</p>
		</div>
		<div class="col-xs-6 padded">
			<p class="lead text-justify">
				Pause
			</p>
		</div>	
	</div>

	<div class="row">
		<div class="col-xs-1 col-xs-offset-2 padded">
		 	<p class="lead text-justify  text-thin">
				<font class="text-hour">16</font>00<br>
				<font class="text-hour">16</font>50
			</p>
		</div>
		<div class="col-xs-2 padded">
			<p class="lead text-justify">
				Conf1
			</p>
		</div>	
		<div class="col-xs-2 padded">
			<p class="lead text-justify">
				Conf2
			</p>
		</div>	
		<div class="col-xs-2 padded">
			<p class="lead text-justify">
				Conf3
			</p>
		</div>	
	</div>

	<div class="row">
		<div class="col-xs-1 col-xs-offset-2 padded">
		 	<p class="lead text-justify  text-thin">
				<font class="text-hour">17</font>00<br>
				<font class="text-hour">17</font>50
			</p>
		</div>
		<div class="col-xs-2 padded">
			<p class="lead text-justify">
				Conf1
			</p>
		</div>	
		<div class="col-xs-2 padded">
			<p class="lead text-justify">
				Conf2
			</p>
		</div>	
		<div class="col-xs-2 padded">
			<p class="lead text-justify">
				Conf3
			</p>
		</div>	
	</div>
</div>