<div class="text-center"><h1>Programme</h1></div>
<!-- s'inspirer de http://demo.themecube.net/?theme=Evential -->
<!-- Est dupliqué pour être un header flotant -->
<div id="header-agenda-to-copy">
	<div class="container padded">
		<div class="row header-agenda">
			<div class="col-xs-3  col-lg-2 col-lg-offset-1 padded border">			
			 	<p class="lead text-center">
					<strong class="text-thin">Horaires</strong>
				</p>
			</div>
			<div class="col-xs-3 col-xs-offset3 col-lg-3 padded  border">
				<p class="lead text-center">
					<strong class="text-thin">Mobile</strong>
				</p>
			</div>
			<div class="col-xs-3 col-lg-3 padded border">
				<p class="lead text-center">
					<strong class="text-thin">Web</strong>
				</p>
			</div>
			<div class="col-xs-3 col-lg-3 padded  border">
				<p class="lead text-center">
					<strong class="text-thin">Découverte</strong>
				</p>
			</div>
		</div>
	</div>
</div>

<!-- L'agenda commence ici -->

<div id="agenda-container" class="container padded">
	<div id="header-agenda" class="row header-agenda">
		<div class="col-xs-3  col-lg-2 col-lg-offset-1 padded border">			
		 	<p class="lead text-center">
				<strong class="text-thin">Horaires</strong>
			</p>
		</div>
		<div class="col-xs-3 col-lg-3 padded  border">
			<p class="lead text-center">
				<strong class="text-thin">Mobile</strong>
			</p>
		</div>
		<div class="col-xs-3 col-lg-3 padded border">
			<p class="lead text-center">
				<strong class="text-thin">Web</strong>
			</p>
		</div>
		<div class="col-xs-3 col-lg-3 padded  border">
			<p class="lead text-center">
				<strong class="text-thin">Découverte</strong>
			</p>
		</div>
	</div>



	<div class="row">
		<div class="col-xs-3 col-lg-1 col-lg-offset-2 padded border-hour">
		 	<p class="lead text-center">
				<font class="text-hour text-thin">08</font>00<br>
				<font class="text-hour text-thin">08</font>30
			</p>
		</div>
		<div class="col-xs-9 padded border-row">
			<p class="lead text-justify conf-title">
				Accueil
			</p>
			<p class="conf-content text-justify">
			"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>	
	</div>


	<div class="row">
		<div class="col-xs-3  col-lg-1 col-lg-offset-2 border-hour padded">
		 	<p class="lead text-center">
				<font class="text-hour">08</font>30<br>
				<font class="text-hour">10</font>00
			</p>
		</div>
		<div class="col-xs-9 padded">
			<p class="lead text-justify">
				Keynote
			</p>
			<p class="conf-content text-justify">
			"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>	
	</div>

	<div class="row">
		<div class="col-xs-3  col-lg-1 col-lg-offset-2 border-hour padded">
		 	<p class="lead text-center">
				<font class="text-hour">10</font>10<br>
				<font class="text-hour">11</font>00
			</p>
		</div>
		<div class="col-xs-9 col-lg-3 padded animated-expand">
			<p class="lead text-justify">
				Conf1
			</p>
			<p class="hidden-lg resume">
			"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>	
		<div class="col-xs-9 hidden-xs col-lg-3 padded animated-expand">
			<p class="lead text-justify">
				Conf2
			</p>
			<p class="hidden-lg resume">
			"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>	
		<div class="col-xs-9 hidden-xs col-lg-3 padded animated-expand">
			<p class="lead text-justify">
				Conf3
			</p>
			<p class="hidden-lg resume">
			"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>	
	</div>

	<div class="row">
		<div class="col-xs-3  col-lg-1 col-lg-offset-2 border-hour  padded">
		 	<p class="lead text-center">
				<font class="text-hour">11</font>10<br>
				<font class="text-hour">12</font>00
			</p>
		</div>
		<div class="col-xs-9 col-lg-3 padded animated-expand">
			<p class="lead text-justify">
				Conf1
			</p>
		</div>	
		<div class="col-xs-9 col-lg-3 hidden-xs padded animated-expand">
			<p class="lead text-justify">
				Conf2
			</p>
		</div>	
		<div class="col-xs-9 col-lg-3 hidden-xs padded animated-expand">
			<p class="lead text-justify">
				Conf3
			</p>
		</div>	
	</div>

	<div class="row">
		<div class="col-xs-3  col-lg-1 col-lg-offset-2 border-hour  padded">
		 	<p class="lead text-center">
				<font class="text-hour">12</font>00<br>
				<font class="text-hour">13</font>30
			</p>
		</div>
		<div class="col-xs-9 padded">
			<p class="lead text-justify">
				Déjeuner
			</p>
		</div>	
	</div>

	<div class="row">
		<div class="col-xs-3  col-lg-1 col-lg-offset-2 border-hour  padded">
		 	<p class="lead text-center">
				<font class="text-hour">13</font>30<br>
				<font class="text-hour">14</font>20
			</p>
		</div>
		<div class="col-xs-9 col-lg-3 hidden-xs padded animated-expand">
			<p class="lead text-justify">
				Conf1
			</p>
		</div>	
		<div class="col-xs-9 col-lg-3 hidden-xs padded animated-expand">
			<p class="lead text-justify">
				Conf2
			</p>
		</div>	
		<div class="col-xs-9 col-lg-3 hidden-xs padded animated-expand">
			<p class="lead text-justify">
				Conf3
			</p>
		</div>	
	</div>

	<div class="row">
		<div class="col-xs-3  col-lg-1 col-lg-offset-2 border-hour  padded">
		 	<p class="lead text-center">
				<font class="text-hour">14</font>30<br>
				<font class="text-hour">15</font>20
			</p>
		</div>
		<div class="col-xs-9 col-lg-3 hidden-xs padded animated-expand">
			<p class="lead text-justify">
				Conf1
			</p>
		</div>	
		<div class="col-xs-9 col-lg-3 hidden-xs padded animated-expand">
			<p class="lead text-justify">
				Conf2
			</p>
		</div>	
		<div class="col-xs-9 col-lg-3 hidden-xs padded animated-expand">
			<p class="lead text-justify">
				Conf3
			</p>
		</div>	
	</div>

	<div class="row">
		<div class="col-xs-3  col-lg-1 col-lg-offset-2 border-hour  padded">
		 	<p class="lead text-center">
				<font class="text-hour">15</font>20<br>
				<font class="text-hour">16</font>00
			</p>
		</div>
		<div class="col-xs-9 padded">
			<p class="lead text-justify">
				Pause
			</p>
		</div>	
	</div>

	<div class="row">
		<div class="col-xs-3  col-lg-1 col-lg-offset-2 border-hour  padded">
		 	<p class="lead text-center">
				<font class="text-hour">16</font>00<br>
				<font class="text-hour">16</font>50
			</p>
		</div>
		<div class="col-xs-9 col-lg-3 hidden-xs padded animated-expand">
			<p class="lead text-justify">
				Conf1
			</p>
		</div>	
		<div class="col-xs-9 col-lg-3 hidden-xs padded animated-expand">
			<p class="lead text-justify">
				Conf2
			</p>
		</div>	
		<div class="col-xs-9 col-lg-3 hidden-xs padded animated-expand">
			<p class="lead text-justify">
				Conf3
			</p>
		</div>	
	</div>

	<div class="row">
		<div class="col-xs-3  col-lg-1 col-lg-offset-2 border-hour  padded">
		 	<p class="lead text-center">
				<font class="text-hour">17</font>00<br>
				<font class="text-hour">17</font>50
			</p>
		</div>
		<div class="col-xs-9 col-lg-3 hidden-xs padded animated-expand">
			<p class="lead text-justify">
				Conf1
			</p>
		</div>	
		<div class="col-xs-9 col-lg-3 hidden-xs padded animated-expand">
			<p class="lead text-justify">
				Conf2
			</p>
		</div>	
		<div class="col-xs-9 col-lg-3 hidden-xs padded animated-expand">
			<p class="lead text-justify">
				Conf3
			</p>
		</div>	
	</div>
</div>