<div class="row cfp" >

    <!-- Qu'est-ce que le DevFest ? -->
  <div class="col-md-8 padded-lg">
    <div class="hidden-xs"><h1>Call For Papers</h1></div>
    <br>
    <p class="lead text-justify">
      Le <strong class="text-danger">Call For Papers</strong> est a présent fermé !  
    </p>
    <p class="lead text-justify">
      Rendez vous le <strong class="text-primary">29 Septembre 2014</strong> pour découvrir le programme complet. 
    </p>    
  </div>

  <!-- Photo Speaker -->
  <div class="col-md-4" style="text-align:right">
     <div class="cfp-speaker "></div>
  </div>
  
</div>
