<div class="row cfp" >

    <!-- Qu'est-ce que le DevFest ? -->
	<div class="col-md-8 padded-lg">
    <div class="hidden-xs"><h1>Call For Papers</h1></div>
    <br>
    <p class="lead text-justify">
			Le <strong class="text-danger">Call For Papers</strong> est ouvert à tous ceux qui souhaitent tenter leur chance en tant que conférencier pour le DevFest Nantes 2014. 
    </p>
    <p class="lead text-justify">
      Le CFP fermera ses portes le <strong class="text-primary">15 Septembre 2014 à 23h59</strong>. 
		</p>
    <p class="text-justify">
    	Les conférences doivent durer une heure maximum questions, réponses incluses. Il n'y aura pas de codelabs cette année.<br> 
      	Les thèmes retenus pour cette année sont : 
      	<ul>
	      	<li class=""><strong class="text-info">Web : </strong>Ce track sert pour les sessions traitant de sujets orientés web (Frameworks / générateurs / nouveautés HTML5 / ...)</li>
	      	<li class=""><strong class="text-info">Cloud : </strong>Ce track sert pour les sessions traitant de sujets orientés backend web (Google AppEngine / Google ComputeEngine / Langages serveurs / Architectures orientées cloud / ...) </li>
	      	<li class=""><strong class="text-info">Mobile : </strong>Ce track sert pour les sessions traitant de sujets autour de la mobilité (Bonnes pratiques / Android / OS Alternatifs / problématiques mobiles / ...)</li>
	      	<li class=""><strong class="text-info">Découverte : </strong>Ce track sert pour les sessions traitant de sujets moins techniques au sens développement mais pouvant offrir un nouveau regard sur des aspects important de l'informatique (Design Thinking / UX / Disruption / Nouvelles interfaces / ...) </li>      	
      	</ul>
    </p>
    <p  class="lead text-justify">    	
    	Pour soumettre votre idée, rien de plus simple, il vous suffit de cliquer sur le bouton suivant : 
    	<a href="https://docs.google.com/forms/d/1rfXMdv_FhmMhGpBg1h76j68nRjDF4LdM0Qbe_2RvSWE/viewform" target="_BLANK" class="btn btn-warning btn-lg">Proposer un sujet</a>
	    
    </p>
	</div>

	<!-- Photo Speaker -->
	<div class="col-md-4" style="text-align:right">
	   <div class="cfp-speaker "></div>
	</div>
  
</div>