<polymer-element name="devfest-content"  >

  <template>

	<div class="row padded padded-left">
		<div class="col-md-4 padded">
			<div class="circular-img img-sessions"></div>
			<p class="lead padded-lg text-justify">
				<strong class="text-danger">Plus de 25 Conférences (1h)</strong> présentés par des speakers renommés, des Googlers évoquant leurs technologies favorites. Des sessions sont également animées par les sponsors Platiniums.
			</p>
		</div>
		<div class="col-md-4 padded">
			<div class="circular-img img-codelabs"></div>
			<p class="lead padded-lg text-justify">
				<strong class="text-success">Des moments de networking </strong> sont au coeur de cet événement et vous permettent de rencontrer et discuter avec les acteurs du numérique et avec les expertes présents.
			</p>
		</div>
		<div class="col-md-4 padded">
			<div class="circular-img img-demos"></div>
			<p class="lead padded-lg text-justify">
				<strong class="text-primary">Des stands de démonstrations technologiques et innovations</strong> (Google Glass, Oculus Rift...), proposés au sponsors (niveau Gold et plus) mais également aux start-ups ou simples développeurs souhaitant partager et présenter leur produit.
			</p>
		</div>
	</div>
</template>
<script>

    Polymer('devfest-content', {

      //applyAuthorStyles: true,

      //resetStyleInheritance: true,

      created: function() { },

      enteredView: function() { },

      leftView: function() { },

      attributeChanged: function(attrName, oldVal, newVal) { }

    });

  </script>
</polymer-element>