<polymer-element name="devfest-contacts">

  <template>
	<div class="row padded-md white">
		<div class="col-md-4">
			<div class="container">
				<div class="row">
					<h4>Edition précédente - DevFest Nantes 2013</h4>
				</div>
				<div class="row">
					<ul>
						<li><a href="http://devfest2013.gdgnantes.com" target="_NEW">Site web DevFest 2013</a></li>
						<li><a href="https://plus.google.com/events/gallery/cqc05809hrc3v3aq2iv9sbq6s5g" target="_NEW">Photos</a></li>
						<li><a href="http://youtube.com/francegdg" target="_NEW">Videos</a></li>
						<li><a href="http://devfest2013.gdgnantes.com/index.html#/presse" target="_NEW">La presse en a parlé !</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="container">
				<div class="row">
					<h4>Social</h4>
				</div>
				<div class="row">
					<a href="http://gplus.gdgnantes.com/" target="_NEW"><i class="fa fa-google-plus-square fa-3x"></i></a>

					<a href="http://twitter.com/gdgnantes" target="_NEW"><i class="fa fa-twitter-square fa-3x"></i></a>

					<a href="http://www.facebook.com/gdgnantes" target="_NEW"><i class="fa fa-facebook-square fa-3x"></i></a>
	
					<a href="http://youtube.com/francegdg" target="_NEW"><i class="fa fa-youtube-square fa-3x"></i></a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="container">
				<div class="row">
					<h4>GDG Nantes</h4>
				</div>
				<div class="row">
					<ul>
						<li><a href="mailto:bureau@gdgnantes.com" target="_NEW">Email : bureau [at] gdgnantes.com</a></li>
						<li><a href="http://www.gdgnantes.com" target="_NEW">Site web</a></li>
						<li><a href="../assets/images/gdg_stats.png" target="_NEW">Plus d'infos - Statistiques</a></li>
						<li>
							L'équipe
							<ul>
								<li><a href="https://plus.google.com/u/0/+jeanfrancoisgarreau" target="_NEW">Jean-François Garreau</a></li>
								<li><a href="https://plus.google.com/u/0/+JulienLanduré" target="_NEW">Julien Landuré</a></li>
								<li><a href="https://plus.google.com/u/0/+XavierMarc" target="_NEW">Xavier Marc</a></li>
								<li><a href="https://plus.google.com/u/0/+AymericFouchault" target="_NEW">Aymeric Fouchault</a></li>
								<li><a href="https://plus.google.com/u/0/+BenjaminPetetot" target="_NEW">Benjamin Petetot</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="row" style="padding-bottom:20px;">
		<div class="col-md-12">
			<hr>
			<span style="padding-left:10px;">© Devfest Nantes 2014 - Organisé par le GDG Nantes - Disclaimer: GDG Nantes est indépendant de Google</span>
		</div>
	</div>
</template>
<script>

    Polymer('devfest-contacts', {

      //applyAuthorStyles: true,

      //resetStyleInheritance: true,

      created: function() { },

      enteredView: function() { },

      leftView: function() { },

      attributeChanged: function(attrName, oldVal, newVal) { }

    });

  </script>
</polymer-element>