 <!-- DevFest Title -->
<div class="row" style="background-color:#DDD;opacity:0.7;padding-left:50px">

	<div class="col-md-12 lead">
    <div class="pull-left" style="padding-right:20px">
      <img src="../assets/images/chevron_small.png" height="150px">
    </div> 
    <div>
  		<h1><strong>DevFest</strong> Nantes 2014</h1>
  		<h4><i>Organisé par le GDG Nantes</i></h4>
      <span class="hidden-xs hidden-print">
        <a href="http://gplus.gdgnantes.com/" target="_NEW" ><i class="fa fa-google-plus-square fa-2x"></i></a>
        <a href="http://twitter.com/gdgnantes" target="_NEW" ><i class="fa fa-twitter-square fa-2x"></i></a>
        <a href="http://www.facebook.com/gdgnantes" target="_NEW" ><i class="fa fa-facebook-square fa-2x"></i></a>
        <a href="http://youtube.com/francegdg" target="_NEW" ><i class="fa fa-youtube-square fa-2x"></i></a>
      </span>
    </div>

  </div>

</div>

<!-- When / Where / How -->
<div class="row hidden-print">
  <div class="col-xs-12">

    <table > 

      <tr class="text-danger">
        <td class="text-primary" style="text-align:center;vertical-align:middle;color:#0c9a54">
          <a href="https://flic.kr/s/aHsk5QejmM" target="_BLANK" ><i class="fa fa-3x fa-camera fa-4x" style="color:#0c9a54"></i>
        </td>
        <td style="vertical-align:middle" class="lead">
              <a href="https://flic.kr/s/aHsk5QejmM" target="_BLANK" ><font style="color:#0c9a54">Photos du DevFest</font></a>
        </td>
        <td style="text-align:center;vertical-align:middle;color:#da483c" class="text-danger visible-md visible-lg" >
          <a href="https://www.youtube.com/playlist?list=PLuZ_sYdawLiVbxgDCmrckrzJBcMfW_ycO" target="_BLANK" ><i class="fa fa-3x fa-youtube fa-4x" style="color:#da483c"></i>
        </td>
        <td style="vertical-align:middle" class="lead  visible-md visible-lg">
              <a href="https://www.youtube.com/playlist?list=PLuZ_sYdawLiVbxgDCmrckrzJBcMfW_ycO" target="_BLANK" ><font style="color:#da483c">Vidéos du DevFest</font></a>
        </td>        
      </tr>
      <tr class="text-danger visible-xs visible-sm">
        <td style="text-align:center;vertical-align:middle;color:#da483c" class="text-danger" >
          <a href="https://www.youtube.com/playlist?list=PLuZ_sYdawLiVbxgDCmrckrzJBcMfW_ycO" target="_BLANK" ><i class="fa fa-3x fa-youtube fa-4x" style="color:#da483c"></i>
        </td>
        <td style="vertical-align:middle" class="lead">
              <a href="https://www.youtube.com/playlist?list=PLuZ_sYdawLiVbxgDCmrckrzJBcMfW_ycO" target="_BLANK" ><font style="color:#da483c">Vidéos du DevFest</font></a>
        </td>        
      </tr>

      <tr class="text-danger">
        <td style="text-align:center;vertical-align:middle"><i class="fa fa-calendar fa-4x"></i></td>
        <td style="vertical-align:middle" class="lead">
          Vendredi 7 novembre 2014<br>
          8h30 à 18h
        </td>
  		  <td rowspan="3" style="vertical-align:middle" class=" visible-md visible-lg" colspan="2">
  		    <iframe  src="//www.youtube-nocookie.com/embed/videoseries?list=PLuZ_sYdawLiVbxgDCmrckrzJBcMfW_ycO" frameborder="0" allowfullscreen></iframe>
		    </td>
      </tr>
      
      <tr class="text-primary">
        <td style="text-align:center;vertical-align:middle"><i class="fa fa-map-marker fa-4x"></i></td>
        <td style="vertical-align:middle" class="lead">
          Nantes, France<br>
          A la cité des congrès de Nantes
        </td>
      </tr>

      <tr class="text-warning">
        <td style="text-align:center;vertical-align:middle"><i class="fa fa-group fa-4x"></i></td>
        <td style="vertical-align:middle" class="lead">
          Pass standard : 30€ (éligible DIF)<br>
          Pass académique : 10€
        </td>
      </tr>

    </table>

  </div>  
</div>

<!--
<div class="row">

  <div class="col-xs-12 text-center">

    <!-- Bouton +1. -->
    <!--<div class="g-plusone" data-size="medium"></div>
    <!-- Placez cette ballise après la dernière balise Bouton +1. -->
    <!--<script type="text/javascript">
      window.___gcfg = {lang: 'fr'};

      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>

  </div>
</div>
-->

<div class="more-info text-center hidden-print">
  <a href="../../#what-is-devfest" class="text-success"><i class="fa fa-chevron-down fa-4x"></i></a>
</div>
