<!--Slide "Home" -->
<div class="section" ng-include=" 'partials/home.html' "></div>

<!--Slide "Qu'est ce que le DevFest ?"-->
<div class="section" ng-include=" 'partials/what_is_devfest.html' "></div>

<!--Slide "Quand ? Ou ? Combien ?"-->
<div class="section" ng-include=" 'partials/when_where_how.html' "></div>

<!--Slide "Contenu"-->
<div class="section" ng-include=" 'partials/content.html' "></div>

<!--Slide "Sponsoring"-->
<div class="section" ng-include=" 'partials/sponsoring.html' "></div>

<!--Slide "Le GDG Nantes"-->
<div class="section">
	<div class="slide slideGDG"></div>
</div>

<!--Slide "Contacts"-->
<div class="section" ng-include=" 'partials/contacts.html' "></div>