<div class="text-center"><h1>Pratique</h1></div>
<div class="row padded padded-left">
	<div class="col-md-6 padded">
		<!-- Plan d'acces -->
		<h2><i class="fa fa-map-marker"></i> Adresse de l’événement</h2>
		<div class="row padded">
			<h4>Cité des Congrès</h4>
			<p>
				Cité Nantes Events Center<br>
				Quai Ferdinand Favre<br> 
				44000 Nantes<br>
				<a href="http://www.lacite-nantes.fr/fr/index.html" target="_NEW">http://www.lacite-nantes.fr</a><br>
				<a href="http://www.lacite-nantes.fr/v3_dossiers/dossier_2/Plan_acces_LaCite_Nantes_Events_Center.pdf" target="_NEW">Télécharger le plan d'accès</a><br>
				<a href="https://www.google.com/maps/preview?ll=47.213219,-1.542343&z=15&t=m&hl=fr&gl=FR&mapclient=embed&cid=17141391134133452479" target="_NEW" class="visible-xs">Voir sur Google Maps</a>
			</p>
		</div>

        <h2><i class="fa fa-plane"></i> Comment s'y rendre ? </h2>

        <div class="row padded">
            <h4>En train</h4>
            <p>
                Nantes est à seulement 2h de Paris (Gare Montparnasse) en TGV.<br>
                Arrivé(e) à Nantes, prenez la sortie "Gare Sud" puis vous serez à la Cité des Congrès en moins de 10 minutes à pied.
            </p>
			
			<h4>En avion</h4>
			<p>
				Il y a des <a href="https://www.google.fr/flights/#search;f=NTE;d=2014-11-07;r=2014-11-09;mc=m" target="_NEW">vols</a> depuis Paris, Bordeaux, Toulouse, Nice, Dublin... (liste des compagnies disponibles <a href="http://www.nantes.aeroport.fr/destinations/compagnies" target="_NEW">ici</a>)<br>
                Puis vous pouvez utiliser les <a href="http://www.nantes.aeroport.fr/acces/navettes" target="_NEW">navettes</a> (20 min), taxis ou louer une voiture pour rejoindre le centre ville de Nantes.
			</p>

            <h4>En transport en commun</h4>
            <p>
                En tramway, prenez la ligne 1 : station « Duchesse Anne - Château des Ducs de Bretagne » à une station de la gare TGV (sortie Nord).<br>
				En busway, prenez la ligne 4 du busway et descendez à l'arrêt <b>"Cité des Congrès"</b>.
            </p>

            <h4>En voiture</h4>
            <p>
                La Cité des Congrès étant en plein centre ville, nous préconisons aux automobilistes de se garer sur un parking relais tram ou un parking payant.<br>
                La Cité des Congrès propose un <a href="http://www.parkings-nantes.fr/fr/stationner" target="_NEW">parking payant</a> de 450 places.<br>
                Pour voir les disponibilités des parkings en temps réel : <a href="http://parking-nantes.com/" target="_NEW">http://parking-nantes.com/</a><br>
                Liste des parkings relais : <a href="https://www.tan.fr/adminsite/objetspartages/liste_fichiergw.jsp?OBJET=DOCUMENT&CODE=1232704326125&LANGUE=0" target="_NEW">carte.pdf</a> ou directement sur le site de la <a href="https://www.tan.fr/jsp/fiche_pagelibre.jsp?CODE=07774142&LANGUE=0" target="_NEW">Tan</a>
            </p>
        </div>
	</div>

    <div class="col-md-6 padded">
        <h2><i class="fa fa-graduation-cap"></i> DIF</h2>
        <div class="row padded">
            <h4>Le DevFest est-il éligible au DIF ?</h4>
            <p>
                Le DevFest est éligible au DIF : vous pouvez faire prendre en charge votre crédit temps "formation continue". Les frais sont à payer directement par l'entreprise participante, pas de subrogation OPCA acceptée.
                <br>
                OPCA quoi ? En clair, cela sgnifie que le prix d'entrée du DevFest ne pourra pas être remboursé dans le cadre du DIF. Votre société (ou vous-même) devra prendre ces frais à sa charge. Seul le crédit temps peut être utilisé.
            </p>

            <h4>Que dois-je faire ?</h4>
            <p>
                Lors de l'inscription, le participant souhaitant utiliser son DIF devra cocher la case "DIF" et donner l'email du responsable des formations dans sa société. Cette personne recevra les justificatifs de présence.
            </p>

            <h4>Besoin d'une convention ?</h4>
            <p>
                Une convention peut être établie entre la société du participant et SQLI. Il faudra fournir les informations suivantes lors de l'établissement de la convention :<br>
                <ul>
                    <li>Nom de la société pour la convention</li>
                    <li>Adresse de la société</li>
                    <li>Noms et prénoms des participants</li>
                    <li>Nom et prénom et poste du représentant de la société</li>
                </ul>
                L'organisme retenu pour utiliser son crédit DIF est SQLI Institut :
                <ul>
                    <li>Intitulé de la formation : DevFest Nantes 2014</li>
                    <li>Centre de formation : SQLI Institut</li>
                    <li>Adresse : 10/12 rue de Laponie - 44240 La Chapelle sur Erdre</li>
                    <li>Durée en heure de la formation : 7h</li>
                </ul>
                Si vous souhaitez établir une convention avec SQLI pour le DevFest ou pour toute autre question DIF, merci de contacter <a href="mailto:jfgarreau@sqli.com" target="_blank">jfgarreau@sqli.com</a><br>
            </p>
        </div>

    </div>
</div>