<div class="row padded padded-left">
	<div class="col-md-4 padded">
		<h2><i class="fa fa-plane"></i> Comment s'y rendre ? </h2>
		<div class="row padded">
			<h4>Voyager</h4>
			<p>
				<b>En train</b>
				Nantes est à seulement 2h de Paris (Gare montparnasse) en TGV.<br/>
				Arrivé à Nantes, prendre la sortie "Gare Sud" puis vous serez à la cité des Congrès en moins de 10 minutes a pied.
				<br/>
				<br/>
				<b>En avion</b>
				Il y a des <a href="https://www.google.fr/flights/#search;f=NTE;d=2014-11-07;r=2014-11-09;mc=m" target="_NEW">vols</a> depuis Paris, Bordeaux, Toulouse, Nice, Dublin, ...<br/>
				Puis vous pouvez utiliser les <a href="http://www.nantes.aeroport.fr/acces/navettes" target="_NEW">navettes</a>, taxis ou louer une voiture pour rejoindre le centre de Nantes.
			</p>
		</div>
		<div class="row padded">
			<h4>En transport en commun</h4>
			<p>
				Prendre la ligne 4 du busway et descendre à l'arrêt <b>"Cité des Congrès"</b>.<br/>
			</p>
		</div>
		<div class="row padded">
			<h4>En voiture</h4>
			<p>
				La cité des congrès étant en plein centre ville, nous préconisons aux automobilistes de se garer sur un parking relais tram ou un parking payant.<br/>
				La cité des congrès propose un parking payant : <a href="http://www.parkings-nantes.fr/fr/stationner" target="_NEW">http://www.parkings-nantes.fr/fr/stationner</a><br/>
				Pour voir les disponibilités des parkings en temps réel : <a href="http://parking-nantes.com/" target="_NEW">http://parking-nantes.com/</a><br/>
				Liste des parkings relais : <a href="https://www.tan.fr/adminsite/objetspartages/liste_fichiergw.jsp?OBJET=DOCUMENT&CODE=1232704326125&LANGUE=0" target="_NEW">carte.pdf</a> ou directement sur le site de la <a href="https://www.tan.fr/jsp/fiche_pagelibre.jsp?CODE=07774142&LANGUE=0" target="_NEW">Tan</a>
			</p>
		</div>
	</div>
	<div class="col-md-8 padded">
		<!-- Plan d'acces -->
		<h2><i class="fa fa-map-marker"></i> Plan d'accès ? </h2>
		<div class="row">
			<div class="col-md-3 padded">
				<p>
					<h4>Cité des Congrès</h4>
					Quai Ferdinand Favre<br/> 
					44000 Nantes<br/>
					<a href="http://www.lacite-nantes.fr/fr/index.html" target="_NEW">http://www.lacite-nantes.fr</a>
					<br/><br/>
					<a href="https://www.google.com/maps/preview?ll=47.213219,-1.542343&z=15&t=m&hl=fr&gl=FR&mapclient=embed&cid=17141391134133452479" target="_NEW" class="visible-xs">Voir sur Google Maps</a>
					<!--<div class="epitech_bg"></div>-->
				</p>
			</div>
			<!--<div class="col-md-8 padded hidden-xs">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2710.171884619155!2d-1.5423430000000085!3d47.213218999999945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4805eeb76f5fce7f%3A0xede2746ae20dfebf!2sCit%C3%A9+des+congr%C3%A8s+de+Nantes!5e0!3m2!1sfr!2sfr!4v1401457085785" width="100%" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="border:0"></iframe>
			</div>-->
		</div>
		<!-- Dormir -->
		<!--
		<h2><i class="fa fa-home"></i> Où dormir ? </h2>
		<div class="row">
			<div class="col-md-4 padded">
				<h4>Hôtel Ibis Tour de bretagne</h4>
				<p>	
					19 Rue Jean Jaurès,<br/>
					44000 Nantes<br/>
					(+33)2 40 35 39 00<br/>
					<a href="http://www.accorhotels.com/fr/hotel-1394-ibis-nantes-centre-tour-bretagne/index.shtml" target="_NEW">Réservez ici</a><br/>
					à 15 minutes à pied d'Epitech Nantes. Un accord a été passé avec cet Hotêl, il est donc possible sur demande d'avoir une réduction pour la nuit du Jeudi et du Vendredi. Merci de nous contacter pour connaître le détail de cette promotion.
				</p>
			</div>
			<div class="col-md-4 padded">
				<h4>Hôtel Voltaire Opéra</h4>
				<p>	
					10 Rue Gresset, Quartier Graslin<br/>
					44000 Nantes<br/>
					(+33)2 40 73 31 04<br/>
					<a href="http://www.hotelcholet-nantes.com/" target="_NEW">Réservez ici</a><br/>
					à 5 minutes à pied d'Epitech Nantes
				</p>
			</div>
			<div class="col-md-4 padded">
				<h4>Hôtel Best Hotel</h4>
				<p>	
					9 Rue du Mal De Lattre de Tassigny,<br/>
					44000 Nantes<br/>
					(+33)2 40 73 85 33<br/>
					<a href="http://www.besthotel.fr/Nantes" target="_NEW">Réservez ici</a><br/>
					à 10 minutes à pied d'Epitech Nantes
				</p>
			</div>
		</div>
		-->
	</div>
	
</div>