<div class="text-center"><h1>Pratique</h1></div>
<div class="row padded padded-left">
	<div class="col-md-4 padded">
		<!-- Plan d'acces -->
		<h2><i class="fa fa-map-marker"></i> Adresse de l'évènement</h2>
		<div class="row">
			<p>
				<h4>Cité des Congrès</h4>
				Quai Ferdinand Favre<br> 
				44000 Nantes<br>
				<a href="http://www.lacite-nantes.fr/fr/index.html" target="_NEW">http://www.lacite-nantes.fr</a>
				<br><br>
				<a href="https://www.google.com/maps/preview?ll=47.213219,-1.542343&z=15&t=m&hl=fr&gl=FR&mapclient=embed&cid=17141391134133452479" target="_NEW" class="visible-xs">Voir sur Google Maps</a>
			</p>
		</div>
	</div>


	<div class="col-md-8 padded">
		<h2><i class="fa fa-plane"></i> Comment s'y rendre ? </h2>

		<div class="row padded">
			<div class="col-md-6 padded">
				<h4>Voyager</h4>
				<p>
					<b>En train</b>
					Nantes est à seulement 2h de Paris (Gare Montparnasse) en TGV.<br>
					Arrivé(e) à Nantes, prenez la sortie "Gare Sud" puis vous serez à la Cité des Congrès en moins de 10 minutes à pied.
					<br>
					<br>
					<b>En avion</b>
					Il y a des <a href="https://www.google.fr/flights/#search;f=NTE;d=2014-11-07;r=2014-11-09;mc=m" target="_NEW">vols</a> depuis Paris, Bordeaux, Toulouse, Nice, Dublin... (liste des compagnies disponibles <a href="http://www.nantes.aeroport.fr/destinations/compagnies" target="_NEW">ici</a>)<br>
					Puis vous pouvez utiliser les <a href="http://www.nantes.aeroport.fr/acces/navettes" target="_NEW">navettes</a>, taxis ou louer une voiture pour rejoindre le centre ville de Nantes.
				</p>

				<h4>En transport en commun</h4>
				<p>
					Prenez la ligne 4 du busway et descendez à l'arrêt <b>"Cité des Congrès"</b>.<br>
				</p>
			</div>

			<div class="col-md-6 padded">
				<h4>En voiture</h4>
				<p>
					La Cité des Congrès étant en plein centre ville, nous préconisons aux automobilistes de se garer sur un parking relais tram ou un parking payant.<br>
					La Cité des Congrès propose un parking payant : <a href="http://www.parkings-nantes.fr/fr/stationner" target="_NEW">http://www.parkings-nantes.fr/fr/stationner</a><br>
					Pour voir les disponibilités des parkings en temps réel : <a href="http://parking-nantes.com/" target="_NEW">http://parking-nantes.com/</a><br>
					Liste des parkings relais : <a href="https://www.tan.fr/adminsite/objetspartages/liste_fichiergw.jsp?OBJET=DOCUMENT&CODE=1232704326125&LANGUE=0" target="_NEW">carte.pdf</a> ou directement sur le site de la <a href="https://www.tan.fr/jsp/fiche_pagelibre.jsp?CODE=07774142&LANGUE=0" target="_NEW">Tan</a>
				</p>
			</div>
		</div>
	</div>
	
</div>

<div class="row padded padded-left">
    <div class="col-md-12 padded">
		<!-- Plan d'acces -->
		<h2><i class="fa fa-graduation-cap"></i> DIF</h2>
		<div class="row">
            <div class="col-md-6 padded">
                <p>
                    <h4>Le DevFest est-il elligible au DIF ?</h4>
                    Le DevFest est elligible au DIF. Vous pouvez faire prendre en charge votre crédit temps "formation continue". Stage éligible au DIF. Les frais sont à payer directement par l'entreprise participante, pas de subrogation OPCA acceptée.<br> 
                    <br>         
                    OPCA quoi ? En clair cela veut dire que le prix d'entré du Breizhcamp ne pourra pas être remboursé dans le cadre du DIF. Votre société ou vous devront prendre ces frais à votre charge. Seul le crédit temps peut être utilisé.<br>
                </p>
            </div>
            <div class="col-md-6 padded">
                <p>
                    <h4>Que dois-je faire ?</h4>
                    Lors de l'inscription, le participant souhaitant utiliser son DIF devra cocher la cache DIF et donner l'email du responsable des formations dans sa société. Cette personne recevra les justificatifs de présences.<br>
                </p>
            </div>
            
		</div>
        <div class="row">
            <div class="col-md-6 padded">
                <p>
                    <h4>Besoin d'une convention ?</h4>
                    Une convention peut être établie entre la société du participant et SQLI. Il faudra fournir les informations suivante lors de l'établissement de la convention :.<br> 
                    <ul>
                        <li>Nom de la Société pour la convention</li>
                        <li>Adresse de la société</li>
                        <li>Noms, prénoms des participants</li>
                        <li>Nom, prénom et poste du représentant de la société</li>
                    </ul>      
                    Si vous souhaitez établir une convention avec SQLI pour le DevFest, merci de contacter <a href="jfgarreau@sqli.com" target="_blank">jfgarreau@sqli.com</a><br>
                    L'organisme retenu pour les formations est SQLI Institut. Voici toutes les informations sur SQLI :
                    <br><br>
                    <ul>
                        <li>Intitulé de la formation : DevFest Nantes 2014</li>
                        <li>Centre de formation : SQLI Institut</li>
                        <li>Adresse : 10/12 rue de Laponie - 44240 La Chapelle sur Erdre</li>
                        <li>Durée en heure de la formation : 7h</li>
                     </ul>
                                        
                </p>
            </div>
            <div class="col-md-6 padded">
                <p>
                    <h4>D'autres questions ?</h4>
                    Pour toute autre question, contactez directement <a href="jfgarreau@sqli.com" target="_blank">jfgarreau@sqli.com</a>
                </p>
            </div>
            
		</div>
	</div>
</div>
