<br/>
<div class="row presse" >

  <div class="col-md-12 padded-lg text-center">
    <div class="hidden-x"><h1>Ils parlent du Devfest Nantes 2014...</h1></div>
  </div>
</div>

<div class="row presse" >
  <div class="col-md-6 col-md-offset-1">
		<p>
			<ul>
			<li><Strong>Les cast codeurs</strong> : <a href="http://lescastcodeurs.com/2014/09/07/lcc-108-ouaf-ouaf/" target="_NEW">LCC Episode 108 - Ouaf Ouaf</a></li>
			<li><strong>geeek.org</strong> : <a href="http://www.geeek.org/devfest-nantes-2014-988.html" target="_NEW">DevFest Nantes 2014 : Les inscriptions sont ouvertes !</a>, <a href="http://www.geeek.org/devfest-2014-programme-008.html" target="_NEW">DevFest Nantes 2014 : Teaser et Programme détaillé !</a></li>
			<li><strong>Blog Netapsys</strong> : <a href="http://www.netapsys.fr/actus/netapsys-sponsorise-le-devfest-nantes-2014" target="_NEW">Netapsys sponsorise le DevFest Nantes 2014</a></li>
			<li><strong>Nantes Just Imagine.com</strong> : <a href="http://www.nantes-just-imagine.com/fr/agenda/devfest-nantes-2014" target="_NEW">DevFest Nantes 2014</a></li>
			<li><strong>Cité des congrès de Nantes</strong> : <a href="http://www.lacite-nantes.fr/fr/r5_assister/530_detail.php?evenement=2_24756" target="_NEW">Agenda Pro - DevFest Nantes 2014</a></li>
			<li><strong>PixGeeks</strong> : <a href="http://pix-geeks.com/evenement/devfest-nantes-2014/" target="_NEW">DevFest Nantes 2014</a></li>
			<li><strong>Out Of Comfort Zone</strong> : <a href="http://outofcomfortzone.net/2014/10/06/devfest-nantes-2014-aura-sa-presentation-sur-firefox-os/" target="_NEW">DEVFEST NANTES 2014 AURA SA PRÉSENTATION SUR FIREFOX OS</a></li>
			<li><strong>Le Blog des nouvelles technologies</strong> : <a href="http://www.blog-nouvelles-technologies.fr/archives/55987/devfest-nantes-2014-rendez-vous-le-7-novembre/" target="_NEW">DevFest Nantes 2014 : rendez vous le 7 novembre</a></li>
			<li><strong>GDG France</strong> : <a href="http://gdg-france.blogspot.fr/2014/10/devfest-nantes-plus-gros-rassemblement.html" target="_NEW">DevFest Nantes : plus gros rassemblement Français de développeurs autour des technologies Google le 7 novembre 2014</a></li>
			<li><strong>Nantes développement</strong> : <a href="http://www.nantes-developpement.com/evenements/devfest-nantes-2014" target="_NEW">DevFest Nantes 2014</a></li>
			<li><strong>Supinfo</strong> : <a href="http://nantes.supinfo.com/devfest-nantes-le-07-novembre-2014/" target="_NEW">3ème édition du DevFest Nantes le 07 novembre 2014 ! </a></li>
			<li><strong>Fier d'être développeur</strong> : <a href="http://fierdetredeveloppeur.org/2014/10/devfest-nantes-7-novembre-2014/" target="_NEW">Il était une fois dans l'ouest...</a></li>
			</ul>
		</p>
	</div>

	<div class="col-md-5">
		<p class="lead center-block" style="text-align:center;color:white">
			<a href="http://goo.gl/f81n7y" target="_blank"><i class="fa fa-cloud-download fa-4x"></i><br>
				Aidez nous et diffusez les flyers et ressources de l'évènement !</a>
		</p>
	</div>
  
</div>
<br/><br/>