<br/>
<div class="row presse" >

  <div class="col-md-12 padded-lg text-center">
    <div class="hidden-x"><h1>Ils parlent du Devfest Nantes 2014...</h1></div>
  </div>
</div>

<div class="row presse" >
  <div class="col-md-6 col-md-offset-1">
		<p>
			<ul>
			<li><Strong>Les cast codeurs</strong> : <a href="http://lescastcodeurs.com/2014/09/07/lcc-108-ouaf-ouaf/" target="_NEW">LCC Episode 108 - Ouaf Ouaf</a></li>
			<li><strong>geeek.org</strong> : <a href="http://www.geeek.org/devfest-nantes-2014-988.html" target="_NEW">DevFest Nantes 2014 : Les inscriptions sont ouvertes !</a></li>
			<li><strong>Blog Netapsys</strong> : <a href="http://www.netapsys.fr/actus/netapsys-sponsorise-le-devfest-nantes-2014" target="_NEW">Netapsys sponsorise le DevFest Nantes 2014</a></li>
			<li><strong>Nantes Just Imagine.com</strong> : <a href="http://www.nantes-just-imagine.com/fr/agenda/devfest-nantes-2014" target="_NEW">DevFest Nantes 2014</a></li>
			<li><strong>Cité des congrès de Nantes</strong> : <a href="http://www.lacite-nantes.fr/fr/r5_assister/530_detail.php?evenement=2_24756" target="_NEW">Agenda Pro - DevFest Nantes 2014</a></li>
			<li><strong>PixGeeks</strong> : <a href="http://pix-geeks.com/evenement/devfest-nantes-2014/" target="_NEW">DevFest Nantes 2014</a></li>
			</ul>
		</p>
	</div>

	<div class="col-md-5">
		
	</div>
  
</div>
<br/><br/>