<div class="text-center"><h1>Speakers</h1></div>

<div rv-each-row="speakerRow" class="row padded padded-left">
	<div rv-each-speaker="row.speakers" rv-id="speaker.id" class="col-md-4  padded-lg">
		<div class="circular-img-sm " rv-class="speaker.img">
			<a rv-each-social="speaker.socials" rv-href="social.url" target="_blank" rv-class="social.classSocial"><i rv-class="social.classImg"></i></a>
		</div>
		<p class="lead text-center">
			<strong rv-class="speaker.colorText" >{speaker.name}</strong><br>
			<div rv-html="speaker.title" class="speaker-title lead text-center"></div>
		</p>			
		<p class="text-justify">
			{speaker.bio}
		</p>
		<h4>Sa conférence : </h4>
		<a rv-href="speaker.refSession" rv-html="speaker.titleConf" rv-on-click='onSessionSpeakerClick'></a>
	</div>
</div>
