<div class="text-center"><h1>Ils supportent le DevFest 2014</h1></div>
<div class="padded-lg">
	<h3 class="text-center">Sponsors Platinium</h3>
	<div class="row text-center">
		<div class="col-md-2 col-md-offset-2">
			<div class="circular-img empty-sponsor hidden-xs hidden-md ">Votre logo ici</div>
		</div>
		<div class="col-md-4">
			<a href="http://www.google.fr" target="_NEW" ><img src="../assets/images/sponsors/google.png" class="img-sponsor platinium"></a>
		</div>
		<div class="col-md-2">
			<div class="circular-img empty-sponsor hidden-xs hidden-md">Votre logo ici</div>
		</div>
	</div>

	<h3 class="text-center">Sponsors Gold</h3>
	<div class="row text-center" style="padding-top:10px;padding-bottom:10px;">
		<div class="col-md-2 col-md-offset-2">
			<a href="http://www.groupe-sii.com/" target="_NEW" ><img src="../assets/images/sponsors/sii.png" class="img-sponsor gold"></a>
		</div>
		<div class="col-md-4">
			<a href="http://www.zenika.com" target="_NEW" ><img src="../assets/images/sponsors/zenika.png" class="img-sponsor gold"></a>
		</div>
		<div class="col-md-2 ">
			<a href="http://www.sqli.com/" target="_NEW" ><img src="../assets/images/sponsors/sqli.png" class="img-sponsor gold"></a>
		</div>
	</div>
	<div class="row text-center" style="padding-top:10px;padding-bottom:10px;">
		<div class="col-md-2 col-md-offset-2">
			<a href="http://www.netapsys.fr/" target="_NEW" ><img src="../assets/images/sponsors/NETAPSYS.png" class="img-sponsor gold"></a>
		</div>
		<div class="col-md-4">
			<a href="http://www.epitech.eu" target="_NEW" ><img src="../assets/images/sponsors/Logo-Epitech.png" class="img-sponsor gold"></a>
		</div>
		<div class="col-md-2">
			<a href="http://myscript.com/" target="_NEW" ><img src="../assets/images/sponsors/myscript.png" class="img-sponsor gold"></a>
		</div>
	</div>
	<div class="row text-center" style="padding-top:10px;padding-bottom:10px;">
		<div class="col-md-2 col-md-offset-2">
			<div class="circular-img empty-sponsor hidden-xs hidden-md">Votre logo ici</div>
		</div>
		<div class="col-md-4">
			<div class="circular-img empty-sponsor hidden-xs hidden-md">Votre logo ici</div>
		</div>
		<div class="col-md-2">
			<div class="circular-img empty-sponsor hidden-xs hidden-md">Votre logo ici</div>
		</div>
	</div>

	<br>
	<h3 class="text-center">Sponsors Silver</h3>
	<div class="row text-center">
		<div class="col-md-2 col-md-offset-2">
			<a href="http://www.asi-informatique.fr/" target="_NEW" ><img src="../assets/images/sponsors/logo-asi.png" class="img-sponsor silver"></a>
		</div>
		<div class="col-md-4">
			<a href="https://www.mozilla.org/en-US/foundation/" target="_NEW" ><img src="../assets/images/sponsors/mozilla.png" class="img-sponsor silver"></a>
		</div>
		<div class="col-md-2">
			<a href="http://www.serli.com/" target="_NEW" ><img src="../assets/images/sponsors/logo-serli.png" class="img-sponsor silver"></a>
		</div>
	</div>
	<div class="row text-center" style="padding-top:10px;padding-bottom:10px;">
		<div class="col-md-2 col-md-offset-2">
			<div class="circular-img empty-sponsor hidden-xs hidden-md">Votre logo ici</div>
		</div>
		<div class="col-md-4">
			<div class="circular-img empty-sponsor hidden-xs hidden-md">Votre logo ici</div>
		</div>
		<div class="col-md-2">
			<div class="circular-img empty-sponsor hidden-xs hidden-md">Votre logo ici</div>
		</div>
	</div>
</div>