<div class="title-left"><h1>Sponsoring</h1></div>

<img src="../assets/images/chevron-right.png" class="chevron-right hidden-xs"/>

<div class="row padded-left well">

	<div class="col-md-6 col-md-offset-1">
		<p class="lead">
			<strong class="text-danger">Aidez-nous et profitez</strong> de ce que peut apporter à votre entreprise le sponsoring d'un évènement d'envergure comme le DevFest.
		</p>
		<p class="lead">
			En associant votre nom à l’événement, <strong class="text-success">vous augmentez votre popularité, la visibilité de vos projets et votre savoir-faire</strong> auprès des acteurs les plus impliqués du secteur des nouvelles technologies mobiles et du Web.
		</p>
		<p class="lead">
			Assurez vous de rencontrer les professionnels les plus impliqués de la 2ème ville de France en nombre d’organisations dédiées au numérique et au Web. 
		</p>
		<p class="lead center-block" style="text-align:center">
			<a href="http://goo.gl/gPQ5Kv" target="_blank"><i class="fa fa-cloud-download fa-4x"></i><br>
				Téléchargez notre dossier de partenariat</a>
		</p>
	</div>
</div>