<polymer-element name="devfest-sponsors" >

  <template>
	<div class="text-center"><h1>Ils supportent le DevFest 2014</h1></div>
	<div class="padded-lg">
		<h3 class="text-center">Sponsors Platinium</h3>
		<div class="row text-center">
			<div class="col-md-2 col-md-offset-2">
				<div class="circular-img empty-sponsor hidden-xs hidden-md ">Votre logo ici</div>
			</div>
			<div class="col-md-4">
				<img src="../assets/images/sponsors/google.png" class="img-sponsor">
			</div>
			<div class="col-md-2">
				<div class="circular-img empty-sponsor hidden-xs hidden-md">Votre logo ici</div>
			</div>
		</div>

		<h3 class="text-center">Sponsors Gold</h3>
		<div class="row text-center">
			<div class="col-md-2 col-md-offset-2">
				<div class="circular-img empty-sponsor hidden-xs hidden-md">Votre logo ici</div>
			</div>
			<div class="col-md-4">
				<img src="../assets/images/sponsors/zenika.png" class="img-sponsor">
			</div>
			<div class="col-md-2">
				<div class="circular-img empty-sponsor hidden-xs hidden-md">Votre logo ici</div>
			</div>
		</div>

		<h3 class="text-center">Sponsors Silver</h3>
		<div class="row text-center">
			<div class="col-md-2 col-md-offset-2">
				<div class="circular-img empty-sponsor hidden-xs hidden-md">Votre logo ici</div>
			</div>
			<div class="col-md-4">
				<img src="../assets/images/sponsors/mozilla.png" class="img-sponsor">
			</div>
			<div class="col-md-2">
				<div class="circular-img empty-sponsor hidden-xs hidden-md">Votre logo ici</div>
			</div>
		</div>
	</div>
</template>
<script>

    Polymer('devfest-sponsors', {

      //applyAuthorStyles: true,

      //resetStyleInheritance: true,

      created: function() { },

      enteredView: function() { },

      leftView: function() { },

      attributeChanged: function(attrName, oldVal, newVal) { }

    });

  </script>
</polymer-element>