 <!-- DevFest Title -->
<div class="row" style="background-color:#DDD;opacity:0.7;">

	<div class="col-ws-12 text-center height:100%">
    <div>
  		<h1><strong>Teaser</strong></h1>
      <iframe src="//www.youtube.com/embed/re6C3U7c0Wc" frameborder="0" allowfullscreen style="margin:auto; width:70%;"></iframe>
      <br>      
      <br>      
       <a href="http://yurplan.com/event/Dev-Fest-Nantes/3121" target="_BLANK" class="btn btn-primary btn-lg">S'inscrire au Devfest !</a>
       <br>     
       <br>      
    </div> 

  </div>

</div>          
