<img src="../assets/images/chevron-left.png" class="chevron-left hidden-xs"/>

<div class="title-center text-danger hidden-xs"><h1>Qu'est ce que le DevFest ?</h1></div>

<div class="row ">
	<div class="col-md-4 col-md-offset-4">
		<p class="lead well">
			Le <strong class="text-danger">Devfest Nantes 2014</strong> est la troisième édition d'un événement national qui a réuni plus de 250 participants en 2012 et 350 en 2013. Il s’agit d’une journée complète de conférences sur Android, Dart, AppEngine, Angular JS, Chrome, HTML5, Google Drive, Go, GWT... Une occasion unique de partager et d’échanger autour des technologies du Web et du Cloud.
		</p>
	</div>
</div>